<div class="ui tabular menu" style="margin:0">
  {{link-to  "Tools" 'dashboard.tracktools.employeetools.index' class="item" }}
  {{link-to  "Common Tools" 'dashboard.tracktools.commontools.index' class="item" }}
</div>
<div class="ui bottom attached tab segment active" data-tab="first">
  <h2 class="ui dividing header">Common Tools</h2>
  <!-- {{models-table
    data=commontools
    columns=commontoolsColumns
    customMessages=customMessages
    useFilteringByColumns=false
    showColumnsDropdown=false
    useNumericPagination=true
    filteringIgnoreCase=true
   }} -->


   <table class="ui celled table">
   <thead>
     <tr>
     <th>SlNo.</th>
     <th>Tool Name</th>
     <th>View</th>
   </tr></thead>
   <tbody>
     {{#each commontools as |commontool index|}}
     <tr>
       <td>{{incrementone index}}</td>
       <td>{{commontool.name}}</td>
       <td>{{link-to "View"  'dashboard.tracktools.commontools.commontool.view'  commontool }}</td>
     </tr>
     {{/each}}
   </tbody>
 </table>


 </div>
