<div class="ui black segment" >
 <div class="ui dividing header">Edit Department  </div>
<div class="ui small form">
  <div class="ui stackable grid">
    <div class="five wide dividing column">

      <div class="inline field" style="float:right">
    <label >Department Name :</label>
    {{input placeholder="Department Name"  type="text" value=customer.companyname }}
  </div>
  <div class="inline field" style="float:right">
    <label>Department Code : </label>
    {{input placeholder="Department Code"  type="text"  value=customer.companycode}}
  </div>
  <div class="inline field" style="float:right">
    <label>Charge Code :</label>
    {{input placeholder="Charge Code"   type="text"  value=customer.chargecode}}
  </div>
  <!-- <div class="inline field" style="float:right">
<label>Address 1 : </label>
{{input placeholder="Address 1"  type="text"  value=customer.address1}}
</div> -->
</div>
<!-- <div class="five wide column">
<div class="inline field" style="float:right">
<label>Address 2 : </label>
{{input placeholder="Address 2"  type="text"  value=customer.address2}}
</div>
<div class="inline field" style="float:right">
<label>City :</label>
{{input placeholder="City"  type="text"  value=customer.city}}
</div>
<div class="inline field" style="float:right">
<label>State :</label>
{{input placeholder="State"  type="text" value=customer.state }}
</div>
<div class="inline field" style="float:right">
<label>Country :</label>
{{input placeholder="Country"  type="text" value=customer.country }}
</div>
  </div> -->
  <div class="five wide column">

    <div class="inline field" style="float:right">
      <label> Email :</label>
      {{input placeholder="Email"  type="text"  value=customer.email}}
    </div>
<!-- <div class="inline field" style="float:right">
  <label>ZIP :</label>
  {{input placeholder="ZIP"  type="text"  value=customer.zipcode}}
</div> -->
<div class="inline field" style="float:right">
  <label>Phone :</label>
  {{input placeholder="Phone"  type="text" value=customer.phone }}
</div>

<div class="ui clearing divider"></div>





<button class="ui primary tiny button  {{isSaveCustomerButtonDisabled}}"   {{action "saveCustomer"}}>
   <i class="save icon"></i>
  Save
</button>
<button class="ui secondary tiny button"style="width:" {{action "deleteCustomer" customer}}>
  <i class="trash outline icon"></i>
  Delete
</button>
</div>
<div class="five wide column">

</div>

</div>
</div>
</div>
