<div class="ui black segment" >
 <div class="ui left floated header"> Customer Details </div>
     {{link-to 'Go Back' 'dashboard.relations.customers'  class="ui green inverted mini right floated button "}}

 {{link-to 'Edit' 'dashboard.relations.customers.customer.edit'  class="ui blue inverted mini right floated button "}}
 <div class="ui clearing divider"></div>
<div class="ui small form">
  <div class="ui stackable grid">
    <div class="five wide dividing column">

      <div class="inline field" style="float:right;margin-bottom :25px">
    <label >Customer Name :</label>
    <div class="ui transparent input"><input type="text" readonly="true" value= {{ customer.companyname }} ></div>
  </div>
  <div class="inline field" style="float:right;margin-bottom :25px">
    <label>Address: </label>
    <div class="ui transparent input"><input type="text" readonly="true" value= {{ customer.address1 }} ></div>
  </div>
  <div class="inline field" style="float:right;margin-bottom :25px">
    <label>TIN :</label>
    <div class="ui transparent input"><input type="text" readonly="true" value= {{ customer.tin }} ></div>

  </div>
  <div class="inline field" style="float:right;margin-bottom :25px">
    <label>Total Due: </label>
    <div class="ui transparent input"><input type="number" readonly="true" value= {{ customer.due }} ></div>
  </div>
</div>

<!-- <div class="five wide column">
  <div class="inline field" style="float:right;margin-bottom :25px">
<label>Address 2 : </label>
<div class="ui transparent input"><input type="text" readonly="true" value= {{ customer.address2 }} ></div>

</div>
<div class="inline field" style="float:right;margin-bottom :25px">
<label>City :</label>
<div class="ui transparent input"><input type="text" readonly="true" value= {{ customer.city }} ></div>

</div>
<div class="inline field" style="float:right;margin-bottom :25px">
<label>State :</label>
<div class="ui transparent input"><input type="text" readonly="true" value= {{ customer.state }} ></div>

</div>
<div class="inline field" style="float:right;margin-bottom :25px">
<label>Country :</label>
<div class="ui transparent input"><input type="text" readonly="true" value= {{ customer.country }} ></div>

</div>
  </div> -->
  <div class="five wide column">

    <div class="inline field" style="float:right;margin-bottom :25px">
      <label> Email :</label>
      <div class="ui transparent input"><input type="text" readonly="true" value= {{ customer.email }} ></div>

    </div>

<div class="inline field" style="float:right;margin-bottom :25px">
  <label>Phone :</label>
  <div class="ui transparent input"><input type="text" readonly="true" value= {{ customer.phone }} ></div>

</div>



</div>

<div class="ui black segment" style="max-height:260px;overflow:auto" >
  <div class="ui left floated header">  Customer Payment History  </div>
  <table class="ui celled table">
  <thead>
    <tr>
    <th>ID</th>
    <th>Amount</th>
    <th>Payment Date</th>
  </tr></thead>
  <tbody>
    {{#each customer.payments as |payment index|}}
    <tr>
      <td>{{ incrementone index}}</td>
      <td>{{payment.amount}}</td>
      <td>{{moment-format payment.createdat 'MM/DD/YYYY'}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>


<form class="ui form">
  <div class="field">
    <label>Amount</label>
    {{input type="number"   placeholder="Amount" value=amount}}
  </div>
  


  <div class="ui right floated blue small submit button {{isPaymentButtonDisabled}}"   {{action "submitPayment"}}>Submit</div>
</form>

</div>
</div>
</div>
