
<h2 class="ui  header">New Purchase Order</h2>


<div class="ui two column grid">
  <div class="twelve wide column" style="padding:0">
    <div class="ui basic segment" style="border : 1px solid rgba(34, 36, 38, 0.15);background:rgba(255,255,255,0.9);max-height:550px;overflow:auto ">
      <div class="ui three column grid">
        <div class="column" style=" padding-bottom:0px">
          {{ember-selectize
            content=suppliers
            optionValuePath="content.id"
            optionLabelPath="content.companyname"
            selection=supplier
            placeholder="Select a Supplier"
          }}
        </div>

        <div class="column" >
          <div  style="margin-top:10px" >
            Or <div class="ui blue small submit button"  {{action "openSupplierModal"}}>New Supplier</div>
          </div>
        </div>
        <div class=" column"><h3 style="margin-top:10px" class="ui right floated header">#P0001 </h3></div>
      </div>
      <div class="ui divider" ></div>
      <div class="ui three column grid">

        <div class="column" ></div>
        <div class="right aligned column">
          <div class="ui small form">


            <div class="inline field" style="float:right">
              <label >Stock Due :</label>

              {{pikaday-input  placeholder="Select Date" value=duedate}}
            </div>

            <div class="inline field" style="float:right">
              <label>Email : </label>
              {{input placeholder="Email" readonly="true" type="text"  value=supplier.email}}
            </div>
          </div>
        </div>
        <div class="right aligned column">

        </div>
      </div>
      <table class="ui celled table">
        <thead  class="center aligned">
          <tr>
            <th>Item Name</th>
            <th style="width:100px">Quantiy</th>

            <th></th>
          </tr>
        </thead>
        <tbody>

          {{#each purchaseorderitems  as |purchaseorderitem|}}
          <tr class="center aligned">
            <td>
              {{ember-selectize
                content=products
                optionValuePath="content.id"
                optionLabelPath="content.productname"
                selection=purchaseorderitem.product
                placeholder="Select a Product"
              }}
            </td>
            <td class="left aligned" >
              <div class="ui tiny transparent input">
                {{input type="number" style="width:100px" placeholder="Qty" value=purchaseorderitem.quantity}}
              </div>
            </td>
            <td>
                  <button class=" ui tiny right floated inverted button red"  {{action 'deletePurchaseorderitem' purchaseorderitem}}><i class="trash icon"></i></button>


            </td>

          </tr>
          {{/each}}


        </tbody>
      </table>
      <br>
      <div class="ui column grid centered">
      <button class=" ui tiny right floated inverted button blue"  {{action 'addNewPurchaseOrderItem'}}>Add New Item</button>
    </div>


      <div class="ui three column grid">

        <div class="column" ></div>
        <div class="column" ></div>

      </div>
    </div>
    <div class="ui basic segment" style="border : 1px solid rgba(34, 36, 38, 0.15);background:rgba(9,9,26,0.5)">

    <!-- .  <button class=" ui tiny right floated  green button" {{createPurchaseOrder}}>Create</button> -->
    .  <button class=" ui tiny right floated inverted blue button"  {{action 'createPurchaseOrder'}}>Create</button>
      <button class=" ui tiny right floated inverted black button"  {{action 'cancelPurchaseOrder'}}>Cancel</button>


    </div>

  </div>

  <div class="four wide column">
  </div>
</div>



<div class="ui small newsupplier modal">
  <i class="close icon"></i>
  <div class="header">Add New Supplier</div>
  <div class="content">
    <p>
      <div class="ui small form segment">
        <div class="two fields">
          <div class="field">
            <label>Company Name</label>
            {{input placeholder="Company Name" type="text" value=companyname}}
          </div>
          <div class="field">
            <label>Email</label>
            {{input placeholder="Email" type="email" value=email}}
          </div>
        </div>

        <div class="two fields">
          <div class="field">
            <label>Address 1</label>
            {{input placeholder="Address 1" type="text" value=address1}}
          </div>
          <div class="field">
            <label>Address 2</label>
            {{input placeholder="Address 2" type="text" value=address2}}
          </div>
        </div>

        <div class="two fields">
          <div class="field">
            <label>Suburb</label>
            {{input placeholder="Suburb" type="text" value=suburb}}
          </div>
          <div class="field">
            <label>City</label>
            {{input placeholder="City" type="text" value=city}}
          </div>
        </div>

        <div class="two fields">
          <div class="field">
            <label>State</label>
            {{input placeholder="State" type="text" value=state}}
          </div>
          <div class="field">
            <label>Country</label>
            {{input placeholder="Country" type="text" value=country}}
          </div>
        </div>



        <div class="two fields">
          <div class="field">
            <label>Zip Code</label>
            {{input placeholder="Zipcode" type="text" value=zipcode}}
          </div>
          <div class="field">
            <label>Phone</label>
            {{input placeholder="Phone" type="text" value=phone}}
          </div>
        </div>
        <div class="ui blue small submit button" {{action "createSupplier"}}>Submit</div>
      </div>
    </p>

  </div>
</div>
