
<h2 class="ui  header">Purchase Order: #PO001</h2>


<div class="ui two column grid">
  <div class="twelve wide column" style="padding:0">
    <div class="ui basic segment" style="border : 1px solid rgba(34, 36, 38, 0.15);background:rgba(255,255,255,0.9);max-height:550px;overflow:auto ">
    <div class="ui three column grid">
      <div class="column" style=" padding-bottom:0px">
        {{ember-selectize
          content=suppliers
          optionValuePath="content.id"
          optionLabelPath="content.companyname"
          selection=product.supplier
          placeholder="Select a Supplier"
        }}
</div>

      <div class="column" >
        <div  style="margin-top:10px" >
        Or {{link-to  "Add new Supplier" 'dashboard.stockcontrol.purchaseorders.new'  }}
      </div>
    </div>
      <div class=" column"><h3 style="margin-top:10px" class="ui right floated header">#P0001 </h3></div>
    </div>
    <div class="ui divider" ></div>
    <div class="ui three column grid">

      <div class="column" ></div>
      <div class="right aligned column">
      <div class="ui small form">


        <div class="inline field" style="float:right">
          <label >Stock Due :</label>
          {{input placeholder="Select Date"  type="text"  }}
        </div>
        <div class="inline field" style="float:right">
          <label>Reference :</label>
          {{input placeholder="Reference"   type="text"  value=chargecode}}
        </div>
        <div class="inline field" style="float:right">
          <label>Email : </label>
          {{input placeholder="Email"  type="text"  value=address1}}
        </div>
      </div>
    </div>
    <div class="right aligned column">

    </div>
      </div>
    <table class="ui celled table">
      <thead  class="center aligned">
        <tr>
          <th>Item Name</th>
          <th style="width:100px">Quantiy</th>
          <th>AFter</th>
          <th>item Cost</th>
          <th>Tax </th>
          <th>Total</th>
          <th></th>


        </tr>
      </thead>
      <tbody>
        <tr class="center aligned">
          <td>    {{ember-selectize
                content=suppliers
                optionValuePath="content.id"
                optionLabelPath="content.companyname"
                selection=product.supplier
                placeholder="Select a Supplier"
              }}
            </td>
            <td class="left aligned" ><div class="ui tiny transparent input">
                <input type="text" style="width:100px" placeholder="Qty"></div>
              </td>
          <td>26</td>
          <td class="" ><div class="ui tiny transparent input">
              <input type="text" style="width:100px" placeholder="Cost"></div>
            </td>
          <td class="left aligned" style="width:100px"><div class="ui right tiny transparent input">
              <input type="text" style="width:100px" placeholder="Tax">  <div class="ui basic label">%</div>
            </div>
            </td>
        <td>12300</td>
          <td><i class="trash icon"></i></td>

        </tr>
        <tr class="center aligned">
          <td>    {{ember-selectize
                content=suppliers
                optionValuePath="content.id"
                optionLabelPath="content.companyname"
                selection=product.supplier
                placeholder="Select a Supplier"
              }}
            </td>
            <td class="left aligned" ><div class="ui tiny transparent input">
                <input type="text" style="width:100px" placeholder="Qty"></div>
              </td>
          <td>26</td>
          <td class="" ><div class="ui tiny transparent input">
              <input type="text" style="width:100px" placeholder="Cost"></div>
            </td>
          <td class="left aligned" style="width:100px"><div class="ui right tiny transparent input">
              <input type="text" style="width:100px" placeholder="Tax">  <div class="ui basic label">%</div>
            </div>
            </td>
        <td>12300</td>
          <td><i class="trash icon"></i></td>

        </tr>
        <tr class="center aligned">
          <td>    {{ember-selectize
                content=suppliers
                optionValuePath="content.id"
                optionLabelPath="content.companyname"
                selection=product.supplier
                placeholder="Select a Supplier"
              }}
            </td>
            <td class="left aligned" ><div class="ui tiny transparent input">
                <input type="text" style="width:100px" type="number" placeholder="Qty"></div>
              </td>
          <td>26</td>
          <td class="" ><div class="ui tiny transparent input">
              <input type="text" style="width:100px" type="number" placeholder="Cost"></div>
            </td>
          <td class="left aligned" style="width:100px"><div class="ui right tiny transparent input">
              <input type="text" style="width:100px" type="number" placeholder="Tax">  <div class="ui basic label">%</div>
            </div>
            </td>
        <td>12300</td>
          <td><i class="trash icon"></i></td>

        </tr>

      </tbody>
    </table>

    <div class="ui three column grid">

      <div class="column" ></div>
      <div class="column" ></div>
      <div class="column" >
      <table class="ui very basic table">

        <tbody>
          <tr>
            <td>Total Units</td>
            <td class="right aligned">10</td>
          </tr>
          <tr>
            <td>Sub Total</td>
            <td class="right aligned">100</td>
          </tr>
          <tr>
            <td>Total Cost</td>
            <td class="right aligned">1000</td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>
  <div class="ui basic segment" style="border : 1px solid rgba(34, 36, 38, 0.15);background:rgba(9,9,26,0.5)">
  .  {{link-to  "Create" 'dashboard.inventory.new' class=" ui tiny right floated  green button" }}
  {{link-to  "Save Draft" 'dashboard.inventory.new' class=" ui tiny right floated inverted blue button" }}
{{link-to  "Cancel" 'dashboard.inventory.new' class=" ui tiny right floated inverted black button" }}
  </div>

</div>

  <div class="four wide column">
gdfgdfgsdf
  </div>
</div>



{{outlet}}
