<div class="ui tabular menu" style="margin:0">
  {{link-to  "Tools" 'dashboard.tracktools.employeetools.index' class="item" }}
  {{link-to  "CommonTools" 'dashboard.tracktools.commontools.index' class="item" }}
</div>
<div class="ui bottom attached tab segment active" data-tab="first">
  <h2 class="ui dividing header">Tools</h2>
  <!-- {{models-table
    data=employees
    columns=employeeColumns
    customMessages=customMessages
    useFilteringByColumns=false
    showColumnsDropdown=false
    useNumericPagination=true
    filteringIgnoreCase=true
   }} -->


   <table class="ui celled table">
   <thead>
     <tr>
     <th>SlNo.</th>
     <th>Payroll.</th>
     <th>Employee Name</th>
     <th>View</th>
   </tr></thead>
   <tbody>
     {{#each employees as |employee index|}}
     <tr>
       <td>{{incrementone index}}</td>
       <td>{{employee.payroll}}</td>
       <td>{{employee.name}}</td>
       <td>{{link-to "View"  'dashboard.tracktools.employeetools.employeetool.view'  employee }}</td>
     </tr>
     {{/each}}
   </tbody>
 </table>




 </div>
