
<h2 class="ui left floated header">Miscellaneous</h2>
{{link-to  "New Employee" 'dashboard.relations.suppliers.new' class="ui tiny right floated inverted green button" }}
{{link-to  "New Department" 'dashboard.relations.customers.new' class="ui tiny right floated inverted green button" }}
{{link-to  "New Supplier" 'dashboard.relations.suppliers.new' class="ui tiny right floated inverted green button" }}

<div class="ui clearing divider"></div>

<div class="ui tabular menu" style="margin:0">
  {{link-to  "Supplier" 'dashboard.relations.suppliers.index' class="item" }}

  {{link-to  "Department" 'dashboard.relations.customers.index' class="item" }}

  {{link-to  "Employee" 'dashboard.relations.index' class="item" }}


</div>


{{outlet}}
