<h2 class="ui dividing header">Products</h2>

{{link-to  "New Supplier" 'dashboard.relations.suppliers.new' class="ui tiny right floated primary button" }}
{{link-to  "New Customer" 'dashboard.relations.customers.new' class="ui tiny right floated primary button" }}

<div class="ui tabular menu" style="margin:0">
  {{link-to  "Suppliers" 'dashboard.relations.suppliers.index' class="item" }}

  {{link-to  "Customers" 'dashboard.relations.customers.index' class="item" }}



</div>


{{outlet}}
