<div class="ui black segment" >
  <div class="ui left floated header">Product Details  </div>
      {{link-to 'Back to Inventory' 'dashboard.inventory'  class="ui green inverted mini right floated button "}}

  {{link-to 'Edit' 'dashboard.inventory.product.edit'  class="ui blue inverted mini right floated button "}}

  <div class="ui clearing divider"></div>
  <div class="ui small form">
    <div class="ui stackable grid">
      <div class="five wide dividing column">

        <div class="inline field" style="float:right;margin-bottom :25px">
          <label >Product Name :</label>
          <div class="ui transparent input"><input type="text" readonly="true" value= {{ product.productname}} ></div>
        </div>
        <div class="inline field" style="float:right;margin-bottom :25px">
          <label>item Code : </label>
          <div class="ui transparent input"><input type="text" readonly="true" value= {{ product.itemcode }} ></div>
        </div>
        <!-- <div class="inline field" style="float:right;margin-bottom :25px">
          <label>Product Type :</label>
          <div class="ui transparent input"><input type="text" readonly="true" value= {{ product.producttype.typename }} ></div>

        </div> -->
        <div class="inline field" style="float:right;margin-bottom :25px">
        <label> Stock Level : </label>
        <div class="ui transparent input"><input type="text" readonly="true" value= {{ product.initialstocklevel }} ></div>
      </div>
      </div>

        <div class="five wide column">


        <!-- <div class="inline field" style="float:right;margin-bottom :25px">
          <label>Initial Cost Price :</label>
          <div class="ui transparent input"><input type="text" readonly="true" value= {{ product.initialcostprice }} ></div>
        </div>
        <div class="inline field" style="float:right;margin-bottom :25px">
          <label>Buy Price :</label>
          <div class="ui transparent input"><input type="text" readonly="true" value= {{ product.buyprice }} ></div>
        </div> -->
        <div class="inline field" style="float:right;margin-bottom :25px">
          <label> Price :</label>
          <div class="ui transparent input"><input type="text" readonly="true" value= {{ product.retailprice }} ></div>

        </div>
      </div>



    </div>
  </div>
</div>


