

<div class="ui segment ">
<div class="ui dividing header">Add New Customer  </div>
<div class="ui small form">
  <div class="ui stackable grid">
    <div class="five wide dividing column">

  <div class="inline field">
    <label >Comapany Name</label>
    {{input placeholder="Comapany Name"  type="text" }}
  </div>
  <div class="inline field">
    <label>Company Code </label>
    {{input placeholder="Comapany Code"  type="text" }}
  </div>
  <div class="inline field">
    <label>Charge Code</label>
    {{input placeholder="Charge Code"  type="text" }}
  </div>
  <div class="inline field">
    <label> Email</label>
    {{input placeholder="Email"  type="text" }}
  </div>
  </div>
  <!-- <div class="ui vertical divider"></div> -->
  <div class="five wide column">

<div class="inline field">
  <label>Address 1 </label>
  {{input placeholder="Address 1"  type="text" }}
</div>
<div class="inline field">
  <label>Address 2 </label>
  {{input placeholder="Address 2"  type="text" }}
</div>
<div class="inline field">
  <label>City</label>
  {{input placeholder="City"  type="text" }}
</div>
<div class="inline field">
  <label>State</label>
  {{input placeholder="State"  type="text" }}
</div>
<div class="inline field">
  <label>ZIP</label>
  {{input placeholder="ZIP"  type="text" }}
</div>
<div class="inline field">
  <label>Phone</label>
  {{input placeholder="Phone"  type="text" }}
</div>
<div class="inline field">
  <label>Country</label>
  {{input placeholder="Country"  type="text" }}
</div>
<button class="ui primary  button">
  Save
</button>
<button class="ui secondary button">
  Delete
</button>
</div>
<div class="five wide column">

</div>
</div>
</div>
</div>
{{outlet}}
