{{outlet}}



<div class="ui black segment " style="background:rgba(238,221,238,0.5)">
<div class="ui dividing header">Add New Customer  </div>
<div class="ui small form">
  <div class="ui stackable grid">
    <div class="five wide dividing column">

      <div class="inline field" style="float:right">
    <label >Comapany Name :</label>
    {{input placeholder="Comapany Name"  type="text" }}
  </div>
  <div class="inline field" style="float:right">
    <label>Company Code : </label>
    {{input placeholder="Comapany Code"  type="text" }}
  </div>
  <div class="inline field" style="float:right">
    <label>Charge Code :</label>
    {{input placeholder="Charge Code"   type="text" }}
  </div>
  <div class="inline field" style="float:right">
<label>Address 1 : </label>
{{input placeholder="Address 1"  type="text" }}
</div>
<div class="inline field" style="float:right">
<label>Address 2 : </label>
{{input placeholder="Address 2"  type="text" }}
</div>
<div class="inline field" style="float:right">
<label>City :</label>
{{input placeholder="City"  type="text" }}
</div>
<div class="inline field" style="float:right">
<label>State :</label>
{{input placeholder="State"  type="text" }}
</div>
<div class="inline field" style="float:right">
<label>Country :</label>
{{input placeholder="Country"  type="text" }}
</div>


  </div>
  <!-- <div class="ui vertical divider"></div> -->
  <div class="five wide column">

    <div class="inline field" style="float:right">
      <label> Email :</label>
      {{input placeholder="Email"  type="text" }}
    </div>
<div class="inline field" style="float:right">
  <label>ZIP :</label>
  {{input placeholder="ZIP"  type="text" }}
</div>
<div class="inline field" style="float:right">
  <label>Phone :</label>
  {{input placeholder="Phone"  type="text" }}
</div>

<div class="ui clearing divider"></div>

<button class="ui primary tiny button ">
  <i class="save icon"></i>

  Save
</button>
<button class="ui secondary tiny button"style="width:">
  <i class="trash outline icon"></i>

  Delete
</button>
</div>
<div class="five wide column">

</div>

</div>
</div>
</div>
{{outlet}}
