<div class="ui segment ">
<div class="ui dividing header">Customer Details</div>
<div class="ui small form">
  <div class="ui stackable grid">
    <div class="five wide dividing column">

  <div class="inline field">
    <label >Comapany Name</label>
    {{input placeholder="Comapany Name"  type="text"  value=customer.companyname}}
  </div>
  <div class="inline field">
    <label>Company Code </label>
    {{input placeholder="Comapany Code"  type="text"  value=customer.companycode}}
  </div>
  <div class="inline field">
    <label>Charge Code</label>
    {{input placeholder="Charge Code"  type="text" value=customer.chargecode }}
  </div>
  <div class="inline field">
    <label> Email</label>
    {{input placeholder="Email"  type="text"  value=customer.email}}
  </div>
  </div>
  <!-- <div class="ui vertical divider"></div> -->
  <div class="five wide column">

<div class="inline field">
  <label>Address 1 </label>
  {{input placeholder="Address 1"  type="text"  value=customer.address1}}
</div>
<div class="inline field">
  <label>Address 2 </label>
  {{input placeholder="Address 2"  type="text" value=customer.address2}}
</div>
<div class="inline field">
  <label>City</label>
  {{input placeholder="City"  type="text" value=customer.city}}
</div>
<div class="inline field">
  <label>State</label>
  {{input placeholder="State"  type="text" value=customer.state }}
</div>
<div class="inline field">
  <label>ZIP</label>
  {{input placeholder="ZIP"  type="text" value=customer.zipcode }}
</div>
<div class="inline field">
  <label>Phone</label>
  {{input placeholder="Phone"  type="text"  value=customer.phone}}
</div>
<div class="inline field">
  <label>Country</label>
  {{input placeholder="Country"  type="text"  value=customer.country}}
</div>
<button class="ui primary  button" {{action "saveCustomer"}}>
  Save
</button>
<button class="ui secondary button" {{action "deleteCustomer" customer}}>
  Delete
</button>
</div>
<div class="five wide column">

</div>
</div>
</div>
</div>
{{outlet}}
