
<div class="ui tabular menu" style="margin:0">
  <!-- {{link-to  "Supplier" 'dashboard.relations.suppliers.index' class="item" }} -->

  {{link-to  "Customer" 'dashboard.relations.customers.index' class="item" }}

  {{link-to  "Employee" 'dashboard.relations.employees.index' class="item" }}


</div>
<div class="ui bottom attached tab segment active" data-tab="first">
  <h2 class="ui dividing header">Customer</h2>
  <!-- {{models-table
    data=customers
    columns=customerColumns
    customMessages=customMessages
    useFilteringByColumns=false
    showColumnsDropdown=false
    useNumericPagination=true
    filteringIgnoreCase=true
   }} -->


   <table class="ui celled table">
   <thead>
     <tr>
     <th>Sl. No.</th>
     <th>Company Code</th>
     <th>Company Name</th>
     <th>Email</th>
     <th>Phone</th>
     <th>View</th>
   </tr></thead>
   <tbody>
     {{#each customers as |customer index|}}
     <tr>
       <td>{{incrementone index}}</td>
       <td>{{customer.companycode}}</td>
       <td>{{customer.companyname}}</td>
       <td>{{customer.email}}</td>
       <td>{{customer.phone}}</td>
       <td>{{link-to "View"  'dashboard.relations.customers.customer.view'  customer }}</td>
     </tr>
     {{/each}}
   </tbody>
 </table>
</div>
