


<div class="ui two column grid">
  <div class="twelve wide column" style="margin-top:20px">
    <div class="ui basic segment" style="border : 1px solid rgba(34, 36, 38, 0.15);background:rgba(255,255,255,0.9);max-height:425px;overflow:auto ">
      <div class="ui two column grid">
        <div class="column" style=" padding-bottom:0px">
          <h2 class="ui  header">Purchase Order: #PO{{purchaseorder.id}}</h2>
        </div>

        <div class="column right aligned"  >
          {{link-to 'Edit''dashboard.stockcontrol.purchaseorders.purchaseorder.edit'   style="margin-top:20px"  }}
        </div>

      </div>
      <div class="ui divider" ></div>
      <div class="ui three column grid">

        <div class="column" >
          <div class="ui  form">
            <div class="inline field" >
              <label style="width:75px">Supplier </label>:
              {{purchaseorder.supplier.companyname}}
            </div>
          </div>
        </div>
        <div class="  column">
          <div class="ui small form">


            <div class="inline field" >
              <label style="width:75px">Stock Due </label>:

              {{purchaseorder.duedate}}
            </div>

            <div class="inline field">
              <label style="width:75px">Email  </label>:
              {{purchaseorder.supplier.email}}
            </div>
          </div>
        </div>
        <div class="right aligned column">

        </div>
      </div>
      <table class="ui celled table">
        <thead  class="center aligned">
          <tr>
            <th>Item Name</th>
            <th style="width:100px">Quantiy</th>
            <th>After</th>
            <th>item Cost</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>

          {{#each purchaseorder.purchaseorderitems  as |purchaseorderitem|}}
          <tr class="center aligned">
            <td>
              {{
              purchaseorderitem.product.productname

              }}
            </td>
            <td class=" aligned" >

                {{purchaseorderitem.quantity}}
            </td>
            <td>
              <label>{{purchaseorderitem.aftervalue}}</label>
            </td>
            <td class="" >
                {{purchaseorderitem.product.retailprice}}
            </td>
            <td>{{purchaseorderitem.computedtotal}}</td>

          </tr>
          {{/each}}


        </tbody>
      </table>

      <div class="ui three column grid">
        <div class="column" ></div>
        <div class="column" ></div>
        <div class="column" >
        <table class="ui very basic table">
            <tbody>
              <tr>
                <td>Total Units</td>
                <td class="right aligned">{{purchaseorder.computedtotalunits}}</td>
              </tr>

              <tr>
                <td>Total Cost</td>
                <td class="right aligned">{{purchaseorder.computedtotalcosts}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="ui basic segment" style="border : 1px solid rgba(34, 36, 38, 0.15);background:rgba(9,9,26,0.4)">
      <!-- .  <button class=" ui tiny right floated  green button" {{createPurchaseOrder}}>Create</button> -->
      <div class="ui three column grid">
        <div class="column" ></div>
        <div class="column" ></div>
        <div class="column"  style="padding-top:0;padding-bottom:0" >
          <br>
          <button class=" ui small fluid green button "  >Receive Order</button>
          <br>
        </div>
      </div>


    </div>
  </div>

  <div class="four wide column">

  </div>
</div>




<!--
<div class="ui small newsupplier modal">
  <i class="close icon"></i>
  <div class="header">Add New Supplier</div>
  <div class="content">
    <p>
      <div class="ui small form segment">
        <div class="two fields">
          <div class="field">
            <label>Company Name</label>
            {{input placeholder="Company Name" type="text" value=companyname}}
          </div>
          <div class="field">
            <label>Email</label>
            {{input placeholder="Email" type="email" value=email}}
          </div>
        </div>

        <div class="two fields">
          <div class="field">
            <label>Address 1</label>
            {{input placeholder="Address 1" type="text" value=address1}}
          </div>
          <div class="field">
            <label>Address 2</label>
            {{input placeholder="Address 2" type="text" value=address2}}
          </div>
        </div>

        <div class="two fields">
          <div class="field">
            <label>Suburb</label>
            {{input placeholder="Suburb" type="text" value=suburb}}
          </div>
          <div class="field">
            <label>City</label>
            {{input placeholder="City" type="text" value=city}}
          </div>
        </div>

        <div class="two fields">
          <div class="field">
            <label>State</label>
            {{input placeholder="State" type="text" value=state}}
          </div>
          <div class="field">
            <label>Country</label>
            {{input placeholder="Country" type="text" value=country}}
          </div>
        </div>



        <div class="two fields">
          <div class="field">
            <label>Zip Code</label>
            {{input placeholder="Zipcode" type="text" value=zipcode}}
          </div>
          <div class="field">
            <label>Phone</label>
            {{input placeholder="Phone" type="text" value=phone}}
          </div>
        </div>
        <div class="ui blue small submit button" {{action "createSupplier"}}>Submit</div>
      </div>
    </p>

  </div>
</div> -->
