


<div class="ui two column grid">
  <div class="twelve wide column" style="margin-top:20px">
    <div class="ui basic segment" style="border : 1px solid rgba(34, 36, 38, 0.15);background:rgba(255,255,255,0.9);max-height:425px;overflow:auto ">
      <div class="ui two column grid">
        <div class="column" style=" padding-bottom:0px">
          <h2 class="ui  header">Purchase Order: #PO{{purchaseorder.id}}</h2>
        </div>

        <div class="column right aligned"  >
          {{link-to 'Edit''dashboard.stockcontrol.purchaseorders.purchaseorder.edit'   style="margin-top:20px"  }}
        </div>

      </div>
      <div class="ui divider" ></div>
      <div class="ui three column grid">

        <div class="column" >
          <div class="ui  form">
            <div class="inline field" >
              <label style="width:75px">Supplier </label>:
              {{purchaseorder.supplier.companyname}}
            </div>
          </div>
        </div>
        <div class="  column">
          <div class="ui small form">


            <div class="inline field" >
              <label style="width:75px">Stock Due </label>:

              {{purchaseorder.duedate}}
            </div>

            <div class="inline field">
              <label style="width:75px">Email  </label>:
              {{purchaseorder.supplier.email}}
            </div>
          </div>
        </div>
        <div class="  column">
          <div class="ui small form">


            <div class="inline field" >


            </div>
          </div>

        </div>
      </div>
      <table class="ui celled table">
        <thead  class="center aligned">
          <tr>
            <th>Item Name</th>
            <th style="width:100px">Quantiy</th>
            <th>After</th>
            <th>item Cost</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>

          {{#each purchaseorder.purchaseorderitems  as |purchaseorderitem|}}
          <tr class="center aligned">
            <td>
              {{
              purchaseorderitem.product.productname

              }}
            </td>
            <td class=" aligned" >

                {{purchaseorderitem.quantity}}
            </td>
            <td>
              <label>{{purchaseorderitem.aftervalue}}</label>
            </td>
            <td class="" >
                {{purchaseorderitem.product.retailprice}}
            </td>
            <td>{{purchaseorderitem.computedtotal}}</td>

          </tr>
          {{/each}}


        </tbody>
      </table>

      <div class="ui three column grid">
        <div class="column" ></div>
        <div class="column" ></div>
        <div class="column" >
        <table class="ui very basic table">
            <tbody>
              <tr>
                <td>Total Units</td>
                <td class="right aligned">{{purchaseorder.computedtotalunits}}</td>
              </tr>

              <tr>
                <td>Total Cost</td>
                <td class="right aligned">{{purchaseorder.computedtotalcosts}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="ui basic segment" style="border : 1px solid rgba(34, 36, 38, 0.15);background:rgba(9,9,26,0.4)">
      <!-- .  <button class=" ui tiny right floated  green button" {{createPurchaseOrder}}>Create</button> -->
      <div class="ui three column grid">
        <div class="column" ></div>
        <div class="column" >
          {{#if (eq purchaseorder.postatus 'created')}}
          <div class="ui red button" >Not Received</div>
          {{/if}}

          {{#if (eq purchaseorder.postatus 'partial')}}
          <div class="ui yellow button" >Partially Received</div>
          {{/if}}

          {{#if (eq purchaseorder.postatus 'received')}}
          <div class="ui green button" >Received</div>
          {{/if}}








        </div>
        <div class="column"  style="padding-top:0;padding-bottom:0" >
          <br>

          {{#if (eq purchaseorder.postatus 'created')}}
          <button class=" ui small fluid red button" {{action "recieveOrderPopUp" purchaseorder}} >Receive Order</button>
          {{/if}}
          {{#if (eq purchaseorder.postatus 'partial')}}
          <button class=" ui small fluid red button" {{action "recieveOrderPopUp" purchaseorder}} >Receive Order</button>
          {{/if}}
          {{#if (eq purchaseorder.postatus 'received')}}
          <button class=" ui small fluid blue button"  {{action "revertOrder" purchaseorder}}>Undo Receive</button>
          {{/if}}









          <br>
        </div>
      </div>


    </div>
  </div>

  <div class="four wide column">

  </div>
</div>








<div class="ui small modal" style="bottom:250px">
  <i class="close icon"></i>
  <div class="header">
    Recieve Order
  </div>
  <div class="content">
    <div class="actions centered">

      {{#if (eq purchaseorder.postatus 'created')}}
      <div class="ui green button" {{action "recieveOrder" purchaseorder}}>Receive All</div>
      <div class="ui primary button"  {{action "recievePartial" purchaseorder}}>Receive Partially</div>
      {{/if}}

      {{#if (eq purchaseorder.postatus 'partial')}}
      <div class="ui green button" {{action "recieveOrder" purchaseorder}}>Receive All</div>
      {{/if}}



   <div class="ui cancel button">Cancel</div>
 </div>
  </div>




</div>
