
<div class="ui black segment" >
  <div class="ui dividing header">Add New Tool</div>
  <div class="ui small form">
    <div class="ui stackable grid">
      <div class="five wide right aligned dividing column">

        <div class="inline field  {{validCompanycodeError}}" >
          <label>Name : </label>
          {{input placeholder="Name"  type="text"  value=name }}

        </div>

                <div class="inline field" style="float:right">
                  <label> Issued Date :</label>
                  {{pikaday-input  placeholder="Issue Date" value=issuedate }}
                </div>

                <div class="inline field" style="float:right">
                  <label>Lost Date:</label>
                  {{pikaday-input  placeholder="Lost Date" value=lostdate }}
                </div>


                <div class="inline field" style="float:right">
                  <label>Damaged Date:</label>
                  {{pikaday-input  placeholder="Damaged Date" value=damagedate }}
                </div>


      </div>
      <div class="five wide  right aligned  column">


        <div class="inline field" style="float:right">
          <label> Employee :</label>
          {{ember-selectize
            content=employees
            optionValuePath="content.id"
            optionLabelPath="content.name"
            selection=employee
            placeholder="Select an employee" }}
        </div>
        <div class="inline field {{validChargecodeError}}" style="float:right">
          <label>Status :</label>

          <select onchange={{action "selectStatus" value="target.value"}} class="form-control">
                                      {{#each statuses as |statusChoice|}}
                                      <option value={{statusChoice}} selected={{eq tool.status statusChoice}}>{{statusChoice}}</option>
                                      {{/each}}
                                    </select>


        </div>




        <br><br><br><br>
        <div class="ui clearing divider"></div>

        <button class="ui primary tiny button {{isSaveToolButtonDisabled}}"   {{action "createTool"}}>
          <i class="save icon"></i>
          Save
        </button>

      </div>
      <div class="five wide column">

      </div>

    </div>
  </div>
</div>
