<div class="ui tabular menu" style="margin:0">
  <!-- {{link-to  "Supplier" 'dashboard.relations.suppliers.index' class="item" }} -->

  {{link-to  "Customer" 'dashboard.relations.customers.index' class="item" }}

  {{link-to  "Employee" 'dashboard.relations.employees.index' class="item" }}
</div>
<div class="ui bottom attached tab segment active" data-tab="first">
  <h2 class="ui dividing header">Employee</h2>
  <!-- {{models-table
    data=employees
    columns=employeeColumns
    customMessages=customMessages
    useFilteringByColumns=false
    showColumnsDropdown=false
    useNumericPagination=true
    filteringIgnoreCase=true
   }} -->


   <table class="ui celled table">
   <thead>
     <tr>
     <th>Sl. No.</th>
     <th>Name</th>
     <th>Department</th>
     <th>Work Contact</th>
     <th>Personal Contact</th>
     <th>View</th>
   </tr></thead>
   <tbody>
     {{#each employees as |employee index|}}
     <tr>
       <td>{{incrementone index}}</td>
       <td>{{employee.name}}</td>
       <td>{{employee.department}}</td>
       <td>{{employee.workcontact}}</td>
       <td>{{employee.personalcontact}}</td>
       <td>{{link-to "View"  'dashboard.relations.employees.employee.view'  employee }}</td>
     </tr>
     {{/each}}
   </tbody>
 </table>
 </div>
