
<h2 class="ui  header">Issuance: #OR{{order.id}}</h2>


<div class="ui two column grid">
  <div class="twelve wide column" style="padding:0">
    <div class="ui basic segment" style="border : 1px solid rgba(34, 36, 38, 0.15);background:rgba(255,255,255,0.9);max-height:550px;overflow:auto ">
      <div class="ui three column grid">
        <div class="column" style=" padding-bottom:0px">
          <div class="ui small form">
          <div class="inline field" style="float:right">
            <label >MRF: :</label>

            {{input placeholder="MRF"  type="text" class="ui input"  value=order.mrf}}
          </div>
          <div class="inline field" style="float:right">
            <label > Location:</label>

            {{input placeholder="Location"  type="text"  value=order.location}}
          </div>

    </div>
    </div>


        <div class="  column " style="width:310px">
          <div class="ui small form">


            <div class="inline field" style="float:right">
              <label >Nature :</label>

              {{input placeholder="Nature Of Work"  type="text"  value=order.natureofwork}}
            </div>
            <div class="inline field" style="float:right">
              <label >Issuance Date :</label>

              {{pikaday-input  placeholder="Issuance Date" value=order.issuancedate}}
            </div>

          </div>
        </div>

                <div class="column " style="width:290px">
                  <div class="ui small form">
                    <div class="inline field" style="float:right">
                      <label >Stock Due :</label>
                      {{pikaday-input  placeholder="Select Date" value=order.duedate}}
                    </div>
                    <div class="inline field" style="float:right">
                      <label>Email : </label>
                      {{input placeholder="Email" readonly="true" type="text"  value=order.customer.email}}
                    </div>
                  </div>

                </div>
      </div>
      <div class="ui divider" ></div>
      <div class="ui three column grid">

        <div class="column" ></div>
        <div class="right aligned column">
          <div class="ui small form">

          </div>
        </div>
        <div class="right aligned column">

        </div>
      </div>
      <table class="ui celled table">
        <thead  class="center aligned">
          <tr>
            <th>Item Name</th>
            <th style="width:100px">Quantiy</th>
            <th>After</th>
            <th>item Cost</th>
            <th>Total</th>
            <th></th>
          </tr>
        </thead>
        <tbody>

          {{#each order.orderitems  as |orderitem|}}
          <tr class="center aligned">
            <td>
              {{ember-selectize
                content=products
                optionValuePath="content.id"
                optionLabelPath="content.productname"
                selection=orderitem.product
                placeholder="Select a Product"
              }}
            </td>
            <td class="left aligned" >
              <div class="ui tiny transparent input">
                {{input type="number" style="width:100px" placeholder="Qty" value=orderitem.quantity}}
              </div>
            </td>
            <td>
              <label>{{orderitem.aftervalue}}</label>
            </td>
            <td >
              <div class="ui tiny transparent input">
                {{input type="number" readonly="true" style="width:100px" placeholder="Qty" value=orderitem.product.retailprice}}
              </div>
            </td>
            <td>{{orderitem.computedtotal}}</td>
            <td>
<button class=" ui tiny right floated inverted button red"  {{action 'deleteOrderItem' orderitem}}><i class="trash icon"></i></button>
            </td>

          </tr>
          {{/each}}
        </tbody>
      </table>
      <br>
      <div class="ui column grid centered">
      <button class=" ui tiny right floated inverted button blue"  {{action 'addNewOrderItem'}}>Add New Item</button>
    </div>
      <div class="ui three column grid">
        <div class="column" >
          <div class="ui grid">
            <div class="seven wide column ">
              <label style="margin-top:10px"> Requested By</label>
            </div>
            <div class="nine wide column ">
          {{ember-selectize
            content=customers
            optionValuePath="content.id"
            optionLabelPath="content.companyname"
            selection=order.customer
            placeholder="Select a Customer"
          }}
        </div>
      </div>
      <div class="ui grid">
        <div class="seven wide column ">
          <label style="margin-top:10px"> Issued By:</label>
        </div>
        <div class="nine wide column ">
      {{ember-selectize
        content=suppliers
        optionValuePath="content.id"
        optionLabelPath="content.companyname"
        selection=order.supplier
        placeholder="Select a Supplier"
      }}
    </div>
  </div>
        </div>
        <div class="column" >
          <div class="ui grid" >
            <div class="six wide column ">
              <label style="margin-top:10px"> Approved By:</label>
            </div>
            <div class="ten wide column ">
          {{ember-selectize
            content=employees
            optionValuePath="content.id"
            optionLabelPath="content.name"
            selection=order.employee
            placeholder="Select an Employee"
          }}
        </div>
        </div>
        </div>
        <div class="column" >
          <table class="ui very basic table">
            <tbody>
              <tr>
                <td>Total Units</td>
                <td class="right aligned">{{order.computedtotalunits}}</td>
              </tr>
              <tr>
                <td>Total Cost</td>
                <td class="right aligned">{{order.computedtotalcosts}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="ui basic segment" style="border : 1px solid rgba(34, 36, 38, 0.15);background:rgba(9,9,26,0.5)">
      <!-- .  <button class=" ui tiny right floated  green button" {{createPurchaseOrder}}>Create</button> -->
      .  <button class=" ui tiny right floated inverted blue button"  {{action 'draftOrder'}}>Save Draft</button>
      <button class=" ui tiny right floated inverted black button"  {{action 'cancelOrder' order}}>Cancel</button>
      <button class=" ui tiny right floated inverted red button"  {{action 'deleteOrder' order }}>Delete</button>
    </div>
  </div>
  <div class="four wide column">

  </div>
</div>
