
<h2 class="ui  header">Order: #OR{{order.id}}</h2>


<div class="ui two column grid">
  <div class="sixteen wide column" style="padding:0">
    <div class="ui basic segment" style="border : 1px solid rgba(34, 36, 38, 0.15);background:rgba(255,255,255,0.9);max-height:550px;overflow:auto ">
      <div class="ui three column grid">
        <div class="column" style=" padding-bottom:0px">
          <div class="ui small form">
          <!-- <div class="inline field" style="float:right">
            <label >MRF: :</label>

            {{input placeholder="MRF"  type="text" class="ui input"  value=order.mrf}}
          </div> -->
          <div class="inline field" >
            <label style="float:left;margin-top: 10px;"> Customer : </label>
            <div class="" style="width:75%;float:left">
              {{ember-selectize
                content=customers
                optionValuePath="content.id"
                optionLabelPath="content.companyname"
                selection=order.customer
                placeholder="Select a Customer"
              }}
            </div>

          </div>
    </div>
    </div>


        <div class="  column ">
          <div class="ui small form">


            <!-- <div class="inline field" style="float:right">
              <label >Nature :</label>

              <select onchange={{action "selectNature" value="target.value"}} class="form-control">
                                          {{#each natures as |natureChoice|}}
                                          <option value={{natureChoice}} selected={{eq order.natureofwork natureChoice}}>{{natureChoice}}</option>
                                          {{/each}}
                                        </select>
            </div> -->
            <div class="inline field" style="float:right">
              <label > Delivery Date :</label>

              {{pikaday-input  placeholder="Delivery Date" value=order.issuancedate useUTC=true}}
            </div>





          </div>
        </div>
        <div class="column">
          <div class="inline field" style="margin-top:10px">
            <label > Order Date :</label>

            {{moment-format order.duedate inputFormat}}
          </div>
        </div>


      </div>
      <div class="ui divider" ></div>
      <div class="ui three column grid">

        <div class="column" ></div>
        <div class="right aligned column">
          <div class="ui small form">

          </div>
        </div>
        <div class="right aligned column">

        </div>
      </div>

      <table class="ordertable ui celled table small form">
        <thead  class="center aligned">
          <tr>
            <th> Sl No.</th>
            <th>Schl. with entryno</th>
            <th>Commodity</th>
            <th>Rate of Tax</th>
            <th>Unit Price</th>
            <th >Qty</th>
            <th>Value</th>
            <th>Excise Duty</th>
            <th>Gross Value</th>
            <th>Cash Discount</th>
            <th>Net Taxable Value</th>
            <th>Tax</th>
            <th>Total</th>
            <th></th>
          </tr>
        </thead>
        <tbody>

          {{#each order.orderitems  as |orderitem index|}}
          <tr class="center aligned">
            <td>{{incrementone index}}</td>
            <td>{{orderitem.product.itemcode}}</td>
            <td style="width:20%">
              <!-- {{ember-selectize
                content=products
                optionValuePath="content.id"
                optionLabelPath="content.productname"
                selection=orderitem.product
                placeholder="Select a Product"
              }} -->


              {{#power-select
                search=(action "searchProduct" orderitem)
                selected=orderitem.product
                onchange=(action "selectOrderitem" orderitem)
                as |repo|
              }}
              {{repo.attributes.productname}}
              {{#if (not-eq orderitem.isSearchBarOpen true)}}
              {{orderitem.product.productname}}
              {{/if}}
              {{/power-select}}

            </td>
            <td>
              {{input type="number"  class="rotfield"  placeholder="Rate of Tax" value=orderitem.rateoftax}} <span class="rotspan">%</span>
            </td>
            <td >
              <div class="ui tiny transparent input">
                {{input type="number" readonly="true"   placeholder="Price" value=orderitem.product.retailprice}}
              </div>
            </td>

            <td class="left aligned" >
              <div class="ui tiny transparent input">
                {{input type="number"  placeholder="Qty" value=orderitem.quantity}}
              </div>
            </td>
            <td>{{orderitem.computedtotal}}</td>
            <td>{{input type="number"  placeholder="Excise Duty" value=orderitem.exciseduty}}</td>
            <td>{{orderitem.computedgrosstotal}}</td>
            <td>{{input type="number"  placeholder="Cash Discount" value=orderitem.cashdiscount}}</td>
            <td>{{orderitem.computednettaxablevalue}}</td>
            <td>{{orderitem.computedtax}}</td>
            <td>{{orderitem.computedtotalvalue}}</td>
            <td>
<button class=" ui tiny right floated inverted button red"  {{action 'deleteOrderItem' orderitem}}><i class="trash icon"></i></button>
            </td>

          </tr>
          {{/each}}
        </tbody>
      </table>
      <br>
      <div class="ui column grid centered">
      <button class=" ui tiny right floated inverted button blue"  {{action 'addNewOrderItem'}}>Add New Item</button>
    </div>
      <div class="ui three column grid">
        <div class="column" >
          <div class="ui grid">
            <div class="seven wide column ">
              <label style="margin-top:10px"> Requested By</label>
            </div>
            <div class="nine wide column ">
          {{ember-selectize
            content=employees
            optionValuePath="content.id"
            optionLabelPath="content.name"
            selection=order.requestedby
            placeholder="Select an Employee"
          }}
        </div>
      </div>
      <div class="ui grid">
        <div class="seven wide column ">
          <label style="margin-top:10px"> Issued By:</label>
        </div>
        <div class="nine wide column ">
      {{ember-selectize
        content=employees
        optionValuePath="content.id"
        optionLabelPath="content.name"
        selection=order.employee
        placeholder="Select an Employee"
      }}
    </div>
  </div>
        </div>
        <div class="column" >
          <!-- <div class="ui grid" >
            <div class="six wide column ">
              <label style="margin-top:10px"> Approved By:</label>
            </div>
            <div class="ten wide column ">
          {{ember-selectize
            content=employees
            optionValuePath="content.id"
            optionLabelPath="content.name"
            selection=order.approvedby
            placeholder="Select an Employee"
          }}
        </div>
        </div> -->
        </div>
        <div class="column" >
          <table class="ui very basic table small form">
            <tbody>

              <tr>
                <td>Total Amount</td>
                <td>{{computedOrderTotalAmount}}</td>
              </tr>
              <tr>
                <td>Round Off</td>
                <td>{{input type="number" style="width:100px" placeholder="Round Off" value=order.roundoff}}</td>
              </tr>
              <tr>
                <td>Amount Chargable</td>
                <td class="right aligned">{{computedAmountChargable}}</td>
              </tr>
              <tr>
                <td>Amount Chargable (In Words)</td>
                <td class="right aligned" style="text-transform:capitalize">{{number-to-english number=computedAmountChargable}}</td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="ui basic segment" style="border : 1px solid rgba(34, 36, 38, 0.15);background:#fff">
      <!-- .  <button class=" ui tiny right floated  green button" {{createPurchaseOrder}}>Create</button> -->
      .  <button class=" ui tiny right floated inverted blue button"  {{action 'draftOrder'}}>Save Draft</button>
      <button class=" ui tiny right floated basic black button"  {{action 'cancelOrder' order}}>Cancel</button>
      <button class=" ui tiny left floated inverted red button"  {{action 'deleteOrder' order }}>Delete</button>
    </div>
  </div>
  <div class="four wide column">

  </div>
</div>
