


<div class="ui two column grid no-print">
  <div class="twelve wide column" style="padding:0">
    <div class="ui basic segment" style="border : 1px solid rgba(34, 36, 38, 0.15);background:rgba(255,255,255,0.9);max-height:550px;overflow:auto ">
      <h2 class="ui left floated header">Issuance: #OR{{order.id}}</h2>
      <button class="ui mini right floated primary button " {{action "printOrder" }}>Print</button>
      {{link-to 'Edit' 'dashboard.orders.order.edit'  class="ui primary mini right floated button "}}
      {{link-to 'Go Back' 'dashboard.orders'  class="ui black basic mini right floated button "}}

      <div class="ui clearing divider" ></div>

      <div class="ui three column grid">
        <div class="column" >
          <div class="ui small form">
            <div class="inline field" >
              <label  style="width:75px">MRF </label>:
              {{order.mrf}}

            </div>
            <div class="inline field">
              <label style="width:75px">Location  </label>:
              {{order.customer.companyname}}
            </div>
          </div>
        </div>


        <div class=" column">
          <div class="ui small form">
            <div class="inline field" >
              <label  style="width:100px">Nature Of Work </label>:
              {{order.natureofwork}}

            </div>
            <div class="inline field">
              <label style="width:100px">Date  </label>:
              {{moment-format order.issuancedate inputFormat}}
            </div>
          </div>
        </div>
      </div>
      <div class="ui divider" ></div>
      <div class="ui three column grid">

        <div class="column" ></div>
        <div class="right aligned column">
          <div class="ui small form">

          </div>
        </div>
        <div class="right aligned column">

        </div>
      </div>
      <table class="ui celled table">
        <thead  class="center aligned">
          <tr>
            <th>Item Name</th>
            <th style="width:100px">Quantiy</th>
            <th>item Cost</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>

          {{#each order.orderitems  as |orderitem|}}
          <tr class="center aligned">
            <td>
              {{orderitem.product.productname}}
            </td>
            <td  >
                {{orderitem.quantity}}
            </td>

            <td >
                {{orderitem.product.retailprice}}
            </td>
            <td>{{orderitem.computedtotal}}</td>


          </tr>
          {{/each}}
        </tbody>
      </table>
      <br>

      <div class="ui three column grid">
        <div class="column" >
          <div class="ui  form">
            <div class="inline field" >
              <label style="width:110px">Requested By </label>:
              {{order.requestedby.name}}
            </div>
            <div class="inline field" >
              <label style="width:110px">Issued By </label>:
              {{order.employee.name}}
            </div>
          </div>
        </div>
        <div class="column" >
          <div class="inline field" >
            <label style="width:110px">Approved By </label>:
            {{order.approvedby.name}}
          </div>
        </div>
        <div class="column" >
          <table class="ui very basic table">
            <tbody>
              <tr>
                <td>Total Units</td>
                <td class="right aligned">{{order.computedtotalunits}}</td>
              </tr>
              <tr>
                <td>Total Cost</td>
                <td class="right aligned">{{order.computedtotalcosts}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="ui basic segment" style="border : 1px solid rgba(34, 36, 38, 0.15);background:rgba(9,9,26,0.4)">
      <!-- .  <button class=" ui tiny right floated  green button" {{createPurchaseOrder}}>Create</button> -->
      <div class="ui three column grid">
        <div class="column" ></div>
        <div class="column" ></div>
        <div class="column"  style="padding-top:0;padding-bottom:0" >
          <br>
          {{#if (eq order.orderstatus 'created')}}
          <button class=" ui small fluid red button" {{action "deliverOrder" order}} >Deliver Order</button>
          {{else}}
          <button class=" ui small fluid green button" >Order Delivered</button>
          {{/if}}
          <br>
        </div>
      </div>
    </div>
  </div>
  <div class="four wide column">

  </div>
</div>
<div class="only-print print-box2">
<img src="images/hed1.png" class="only-print" >

  <h2 class="ui left floated header">Issuance: #OR{{order.id}}</h2>
  <div class="ui clearing divider" ></div>

  <div class="ui three column grid">
    <div class="column" >
      <div class="ui  form">
        <div class="inline field" >
          <label style="width:75px">Customer </label>:
          {{order.customer.companyname}}
        </div>
      </div>
    </div>

    <div class="column" >
      <div class="ui small form">
        <div class="inline field" >
          <label  style="width:100px">Stock Due </label>:
          {{moment-format order.duedate inputFormat}}

        </div>

      </div>

    </div>
    <div class=" column">
      <div class="ui small form">
        <div class="inline field">
          <label style="width:40px">Email  </label>:
          {{order.customer.email}}
        </div>
      </div>
    </div>
        <div class="column" >
      <div class="ui small form">
        <div class="inline field" >
          <label  style="width:75px">MRF </label>:
          {{order.mrf}}

        </div>

      </div>

    </div>
        <div class="column" >
      <div class="ui small form">
        <div class="inline field" >
          <label  style="width:100px">Nature of Work </label>:
          {{order.natureofwork}}

        </div>

      </div>

    </div>
    <div class="column" >
      <div class="ui small form">
        <div class="inline field" >
          <label  style="width:60px">Location </label>:
          {{order.customer.location}}
        </div>
      </div>
    </div>
    <div class="column" >
      
    </div>
    <div class="column" >

    </div>
    <div class="column" >
   
    </div>


  </div>
  <div class="ui divider"></div>
  <table class="ui celled table">
    <thead  class="center aligned">
      <tr>
        <th>Item Name</th>
        <th style="width:100px">Quantiy</th>
        <th>item Cost</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>

      {{#each order.orderitems  as |orderitem|}}
      <tr class="center aligned">
        <td>
          {{orderitem.product.productname}}
        </td>
        <td  >
            {{orderitem.quantity}}
        </td>
        <td >
            {{orderitem.product.retailprice}}
        </td>
        <td>{{orderitem.computedtotal}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  <br>

  <div class="ui three column grid">
    <div class="column" ></div>
    <div class="column" ></div>
    <div class="column" >
            
      <table class="ui very basic table">
        <tbody>
          <tr>
            <td>Total Units</td>
            <td class="right aligned">{{order.computedtotalunits}}</td>
          </tr>
          <tr>
            <td>Total Cost</td>
            <td class="right aligned">{{order.computedtotalcosts}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="ui three column grid">
    <div class="column" >
<div class="ui small form">
        <div class="inline field" >
          <label  style="width:100px">Requested By </label>:
          {{order.requestedby.name}}
        </div>
      </div>

    </div>
    <div class="column" >
          <div class="ui small form">
        <div class="inline field" >
          <label  style="width:100px">Issued By </label>:
          {{order.employee.name}}
        </div>
      </div></div>
    <div class="column" >
             <div class="ui small form">
        <div class="inline field" >
          <label  style="width:100px">Approved By </label>:
          {{order.approvedby.name}}
        </div>
      </div>
            </div>
            </div>

</div>
