


<div class="ui two column grid no-print">
  <div class="twelve wide column" style="padding:0">
    <div class="ui basic segment" style="border : 1px solid rgba(34, 36, 38, 0.15);background:rgba(255,255,255,0.9);max-height:550px;overflow:auto ">
      <h2 class="ui left floated header">Order: #OR{{order.id}}</h2>
      <button class="ui mini right floated primary button " {{action "printOrder" }}>Print</button>
      {{link-to 'Edit' 'dashboard.orders.order.edit'  class="ui blue inverted mini right floated button "}}
      {{link-to 'Go Back' 'dashboard.orders'  class="ui black basic mini right floated button "}}

      <div class="ui clearing divider" ></div>

      <div class="ui three column grid">
        <div class="column" >
          <div class="ui small form">
            <!-- <div class="inline field" >
              <label  style="width:75px">MRF </label>:
              {{order.mrf}}

            </div> -->
            <div class="inline field">
              <label style="width:75px">Location  </label>:
              {{order.customer.companyname}}
            </div>
          </div>
        </div>


        <div class=" column">
          <div class="ui small form">
            <!-- <div class="inline field" >
              <label  style="width:100px">Nature Of Work </label>:
              {{order.natureofwork}}

            </div> -->
            <div class="inline field">
              <label style="width:75px">Date  </label>:
              {{moment-format order.issuancedate inputFormat}}
            </div>
          </div>
        </div>
      </div>
      <div class="ui divider" ></div>
      <div class="ui three column grid">

        <div class="column" ></div>
        <div class="right aligned column">
          <div class="ui small form">

          </div>
        </div>
        <div class="right aligned column">

        </div>
      </div>
      <table class="ui celled table">
        <thead  class="center aligned">
          <tr>
            <th>Item Name</th>
            <th style="width:100px">Quantiy</th>
            <th>item Cost</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>

          {{#each order.orderitems  as |orderitem|}}
          <tr class="center aligned">
            <td>
              {{orderitem.product.productname}}
            </td>
            <td  >
                {{orderitem.quantity}}
            </td>

            <td >
                {{orderitem.product.retailprice}}
            </td>
            <td>{{orderitem.computedtotal}}</td>


          </tr>
          {{/each}}
        </tbody>
      </table>
      <br>

      <div class="ui three column grid">
        <div class="column" >
          <div class="ui  form">
            <div class="inline field" >
              <label style="width:110px">Requested By </label>:
              {{order.requestedby.name}}
            </div>
            <div class="inline field" >
              <label style="width:110px">Issued By </label>:
              {{order.employee.name}}
            </div>
          </div>
        </div>
        <div class="column" >
          <div class="inline field" >
            <label style="width:110px">Approved By </label>:
            {{order.approvedby.name}}
          </div>
        </div>
        <div class="column" >
          <table class="ui very basic table">
            <tbody>

                        <tr>
                          <td>Net Taxable Amount</td>
                          <td>{{order.nettaxablevalue}}</td>
                        </tr>
                        <tr>
                          <td>Tax</td>
                          <td>{{order.tax}}</td>
                        </tr>
                        <tr>
                          <td>Cash Discount</td>
                          <td>{{order.cashdiscount}}</td>
                        </tr>
                        <tr>
                          <td>Round Off</td>
                          <td>{{order.roundoff}}</td>
                        </tr>
                        <tr>
                          <td>Die Cost</td>
                          <td>{{order.diecost}}</td>
                        </tr>
                        <tr>
                          <td>Total Cost</td>
                          <td class="right aligned">{{order.totalcost}}</td>
                        </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="ui basic segment" style="border : 1px solid rgba(34, 36, 38, 0.15);background:rgba(9,9,26,0.4)">
      <!-- .  <button class=" ui tiny right floated  green button" {{createPurchaseOrder}}>Create</button> -->
      <div class="ui three column grid">
        <div class="column" ></div>
        <div class="column" ></div>
        <div class="column"  style="padding-top:0;padding-bottom:0" >
          <br>
          {{#if (eq order.orderstatus 'created')}}
          <button class=" ui small fluid red button" {{action "deliverOrder" order}} >Deliver Order</button>
          {{else}}
          <button class=" ui small fluid green button" >Order Delivered</button>
          {{/if}}
          <br>
        </div>
      </div>
    </div>
  </div>
  <div class="four wide column">

  </div>
</div>
<div class="only-print print-box2">
  <div class="" style="float:left">
    Tax Payers Identification No: 32151336265
    <br>
    CENTRAL EXCISE REGN No :
    <br>
    SSI/MSI/LSI Regn No :
  </div>



  <div style="font-weight:200;float:right; ">  Central Sales Tax RegNo : 32151336265C</div>
<div class="clearfix">

</div>
  <div class="ui center aligned basic segment">
    All Packs 2016 - 2017 <br>
    Printing & Packaging Industries, Peringala.P.O, Kumarapuram, Ernakulam - 683565, Ph :0484 2684095,<br>
    9526033373, Contact : 2681095, 2682162, Email :alifpackersperingala@gmail.com <br>
    <h6>THE KERALA VALUE ADDED TAX RULES,2005</h6>
    FORM NO.8 <br>
    <i>[See Rule 58(10)]</i> <br><br>
    TAX INVOICE<br>
    CASH / CREDIT <br>
    (To be prepared in Quadruplicate)

  </div>
  <div style="float:left">
    Invoice No. {{order.id}}<br>
    Purchase Order No.& Date : <br>
    <b>Name & Address of Purchasing Dealer :</b><br>
     {{order.customer.companyname}}<br><br>


  </div>
  <div  style="float:right">
    Date : {{moment-format order.issuancedate inputFormat}}
  </div>
  <div class="clearfix">
  </div>
  TIN :32100700353

  <div style="font-weight:200;float:right; ">  Central Sales Tax RegNo : 32151336265C</div>

  <br>
<div class="clearfix"></div>

  <div class="ui divider"></div>
  <table class="ui celled table">
    <thead  class="center aligned">
      <tr>
        <th>Item Name</th>
        <th style="width:100px">Quantiy</th>
        <th>item Cost</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>

      {{#each order.orderitems  as |orderitem|}}
      <tr class="center aligned">
        <td>
          {{orderitem.product.productname}}
        </td>
        <td  >
            {{orderitem.quantity}}
        </td>
        <td >
            {{orderitem.product.retailprice}}
        </td>
        <td>{{orderitem.computedtotal}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  <br>

  <div class="ui three column grid">
    <div class="column" ></div>
    <div class="column" ></div>
    <div class="column" >

      <table class="ui very basic table">
        <tbody>
          <tr>
            <td>Total Units</td>
            <td class="right aligned">{{order.computedtotalunits}}</td>
          </tr>
          <tr>
            <td>Total Cost</td>
            <td class="right aligned">{{order.computedtotalcosts}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="">
    Amount Chargeable (in words) <br>
    <b></b><br>
    Terms of Delivery and payment if any:
    <div class="ui center aligned basic segment ">
      <b>DECLARATION</b><br>
      <i>(To be furnished by the seller)</i>
    </div>
    Certified that allthe particulars shown in the above Tax Invoice are true and correct and that my/our Registration under KVAT Act 2003 is valid as the date of this bill.
    <div class="ui right aligned basic segment ">
      Authorised Signority <br>
      [with Status & Seal]
    </div>
    *Original - for the buyer for the purpose of claiming Input Tax Credit.   Duplicate - for the Transport Copy. <br>
     Triplicate - for filing at Checkpost/Extra Copy &  Quadraplicate - to be retained with the seller. <br>
    **Dealers who are not manufacturers will have an option to omit coloumns 9 and 10.
  </div>


</div>
