


<div class="ui two column grid no-print">
  <div class="sixteen wide column" style="padding:0">
    <div class="ui basic segment" style="border : 1px solid rgba(34, 36, 38, 0.15);background:rgba(255,255,255,0.9);max-height:550px;overflow:auto ">
      <h2 class="ui left floated header">Order: #OR{{order.id}}</h2>
      <button class="ui mini right floated primary button " {{action "printOrder" }}>Print</button>
      <button class="ui mini right floated primary button " {{action "deleteOrder" order }}>Delete</button>

      {{link-to 'Edit' 'dashboard.orders.order.edit'  class="ui blue inverted mini right floated button "}}
      {{link-to 'Go Back' 'dashboard.orders'  class="ui black basic mini right floated button "}}

      <div class="ui clearing divider" ></div>

      <div class="ui three column grid">
        <div class="column" >
          <div class="ui small form">
            <!-- <div class="inline field" >
              <label  style="width:75px">MRF </label>:
              {{order.mrf}}

            </div> -->
            <div class="inline field">
              <label style="width:75px">Customer  </label>:
              {{order.customer.companyname}}
            </div>
          </div>
        </div>


        <div class=" column">
          <div class="ui small form">
            <!-- <div class="inline field" >
              <label  style="width:100px">Nature Of Work </label>:
              {{order.natureofwork}}

            </div> -->
            {{#if (eq order.orderstatus 'delivered')}}
            <div class="inline field">
              <label style="width:100px">Delivery Date  </label>:
              {{moment-format order.issuancedate inputFormat}}
            </div>
            {{/if}}

            <div class="inline field">
              <label style="width:100px">Order Date  </label>:
              {{moment-format order.duedate inputFormat}}
            </div>
          </div>
        </div>
      </div>
      <div class="ui divider" ></div>
      <div class="ui three column grid">

        <div class="column" ></div>
        <div class="right aligned column">
          <div class="ui small form">

          </div>
        </div>
        <div class="right aligned column">

        </div>
      </div>
      <table class="ui celled table">
        <thead  class="center aligned">
          <tr>
            <th> Sl No.</th>
            <th>Product </th>
            <th>Unit Price</th>
            <th style="width:100px">Qty</th>
            <th>Gross Value</th>

          </tr>
        </thead>
        <tbody>

          {{#each order.orderitems  as |orderitem index|}}
          <tr class="center aligned">
            <td>{{incrementone index}}</td>
            <td>{{orderitem.product.productname}}</td>
            <td >
                {{orderitem.product.retailprice}}
            </td>
            <td  >
                {{orderitem.quantity}}
            </td>
            <td>{{orderitem.total}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      <br>

      <div class="ui two column grid">

        <div class="column" >
          <table class="ui very basic table">
            <tbody>
                        <tr>
                          <td>Total Quantity</td>
                          <td class="right aligned">{{order.computedtotalunits}}</td>
                        </tr>
                        <tr>
                          <td>Total Amount</td>
                          <td class="right aligned">{{order.totalcost}}</td>
                        </tr>
                        <tr>
                          {{#if (not-eq order.roundoff 0)}}
                          <td>Discount</td>
                          <td class="right aligned">{{order.roundoff}}</td>
                          {{/if}}
                        </tr>
                        <tr>
                          <td>Amount Chargable</td>
                          <td class="right aligned">{{order.chargableamount}}</td>
                        </tr>
                        <tr>
                          <td>Amount Chargable (In Words)</td>
                          <td class="right aligned n2e">{{number-to-english number=order.chargableamount}}</td>
                        </tr>

                        <tr>

                          {{#if (not-eq order.customer.due 0)}}
                          <td>Previous Balance</td>
                          <td class="right aligned">{{order.customer.due}}</td>
                          {{/if}}
                        </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="ui basic segment" style="border : 1px solid rgba(34, 36, 38, 0.15);background:rgba(9,9,26,0.4)">

    </div>
  </div>
  <div class="four wide column">

  </div>
</div>
<div class="only-print print-box2">
  <div class="" style="float:left;padding-bottom:20px;">
  <img src="images/logo-full.png" alt="" />

  </div>


  <div style="font-weight:200;float:right; text-align:right">

  </div>
<div class="clearfix">

</div>




  <div style="float:left">

    {{#if (eq order.orderstatus 'delivered')}}
    <div class="inline field">
      Delivery Date:{{moment-format order.issuancedate inputFormat}}
    </div>
    {{/if}}
    <b>Name & Address of <br> Purchasing Dealer :</b><br>
     {{order.customer.companyname}}<br>{{order.customer.address1}} - {{order.customer.zipcode}}<br> Phone : {{order.customer.phone}}<br>
     {{#if order.customer.tin}}

     <br>TIN : {{order.customer.tin}}
     {{/if}}
     Invoice No. {{order.id}}<br>
     Purchase Order Date :<br> {{moment-format order.duedate inputFormat }} <br>

  </div>
  <div style="float:right; text-align:right;padding-top:40px;">
    Indian traders, 67/7043,<br> Near Juma masjid, Jew Street,<br> Broadway, Ernakulam<br> Ph : 0484 2354068,<br>
     Email : indtraders@gmail.com <br>
  </div>

  <div class="clearfix"></div>



  <br>

  <table class="ui celled table">
    <thead  class="center aligned">
      <tr>
        <th> Sl No.</th>
        <th>Product</th>
        <th>Unit Price</th>
        <th>Qty</th>
        <th>Gross Value</th>
      </tr>
    </thead>
    <tbody>

      {{#each order.orderitems  as |orderitem index|}}
      <tr class="center aligned">
        <td>{{incrementone index}}</td>
        <td>{{orderitem.product.productname}}</td>
        <td >
            {{orderitem.product.retailprice}}
        </td>
        <td  >
            {{orderitem.quantity}}
        </td>
        <td>{{orderitem.total}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
    <br>

    <div class="ui column grid">

      <div class="column" >
        <table class="ui very basic table">
          <tbody>

            <tr>
              <td>Total Quantity</td>
              <td class="right aligned">{{order.computedtotalunits}}</td>
            </tr>
                      <tr>
                        <td>Total Amount</td>
                        <td class="right aligned">{{order.totalcost}}</td>
                      </tr>
                      <tr>
                        {{#if (not-eq order.roundoff 0)}}
                        <td>Discount</td>
                        <td class="right aligned">{{order.roundoff}}</td>
                        {{/if}}
                      </tr>
                      <tr>
                        <td>Amount Chargable</td>
                        <td class="right aligned">{{order.chargableamount}}</td>
                      </tr>
                      <!-- <tr>
                        <td>Amount Chargable (In Words)</td>
                        <td class="right aligned n2e">{{number-to-english number=order.chargableamount}}</td>
                      </tr> -->

                      <tr>
                        {{#if (not-eq order.customer.due 0)}}
                        <td>Previous Balance</td>
                        <td class="right aligned">{{order.customer.due}}</td>
                        {{/if}}
                      </tr>
          </tbody>
        </table>
      </div>
    </div>
  <div class="" style="padding-top:10px;">
    Amount Chargeable (in words) <br>
      <b><span style="float:left" >Indian Rupees&nbsp;</span> <span class="n2e"> {{number-to-english number=order.chargableamount}}</span></b>
    <b></b><br>
    <!-- Terms of Delivery and payment if any: -->
    <!-- <div class="ui center aligned basic segment ">
      <b>DECLARATION</b><br>
      <i>(To be furnished by the seller)</i>
    </div>
    Certified that allthe particulars shown in the above Tax Invoice are true and correct and that my/our Registration under
     KVAT Act 2003 is valid as the date of this bill.
    <div class="ui right aligned basic segment ">
      Authorised Signority <br>
      [with Status & Seal]
    </div> -->
    <!-- *Original - for the buyer for the purpose of claiming Input Tax Credit.   Duplicate - for the Transport Copy. <br>
     Triplicate - for filing at Checkpost/Extra Copy &  Quadraplicate - to be retained with the seller. <br>
    **Dealers who are not manufacturers will have an option to omit coloumns 9 and 10. -->
  </div>


</div>
