
<div class="ui black segment" style="min-height:240px">
  <div class="ui dividing header">Supplier Details  </div>
  <div class="ui small form">
    <div class="ui stackable grid">
      <div class="five wide dividing column">

        <div class="inline field" style="float:right">
          <label >Supplier Name :</label>
          {{input placeholder="Comapany Name"  type="text" value=supplier.companyname }}
        </div>
        <div class="inline field" style="float:right">
          <label>Supplier Code : </label>
          {{input placeholder="Comapany Code"  type="text"  value=supplier.companycode}}
        </div>
        <div class="inline field" style="float:right">
          <label>Charge Code :</label>
          {{input placeholder="Charge Code"   type="text"  value=supplier.chargecode}}
        </div>
        <!-- <div class="inline field" style="float:right">
          <label>Address 1 : </label>
          {{input placeholder="Address 1"  type="text"  value=supplier.address1}}
        </div> -->
      </div>
        <!-- <div class="five wide column">
        <div class="inline field" style="float:right">
          <label>Address 2 : </label>
          {{input placeholder="Address 2"  type="text"  value=supplier.address2}}
        </div>
        <div class="inline field" style="float:right">
          <label>City :</label>
          {{input placeholder="City"  type="text"  value=supplier.city}}
        </div>
        <div class="inline field" style="float:right">
          <label>State :</label>
          {{input placeholder="State"  type="text" value=supplier.state }}
        </div>
        <div class="inline field" style="float:right">
          <label>Country :</label>
          {{input placeholder="Country"  type="text" value=supplier.country }}
        </div>
      </div> -->
      <div class="five wide column">

        <div class="inline field" style="float:right">
          <label> Email :</label>
          {{input placeholder="Email"  type="text"  value=supplier.email}}
        </div>
        <!-- <div class="inline field" style="float:right">
          <label>ZIP :</label>
          {{input placeholder="ZIP"  type="text"  value=supplier.zipcode}}
        </div> -->
        <div class="inline field" style="float:right">
          <label>Phone :</label>
          {{input placeholder="Phone"  type="text" value=supplier.phone }}
        </div>
        <div class="ui clearing divider"></div>

       

      </div>
      <div class="six wide column">

      </div>


    </div>
     <button class="ui primary right floated tiny button {{isSaveSupplierButtonDisabled}}"   {{action "saveSupplier"}}>
          <i class="save icon"></i>
          Save
        </button>
        <button class="ui primary right floated tiny button "   {{action "deleteSupplier" supplier}}>
          <i class="save icon"></i>
          Delete
        </button>
              {{link-to 'Cancel' 'dashboard.relations.suppliers.supplier.view'  class="ui black basic tiny right floated button "}}

  </div>
</div>
