
<h2 class="ui  header">Purchase Order: #SO{{stockadjustment.id}}</h2>


<div class="ui two column grid">
  <div class="twelve wide column" style="padding:0">
    <div class="ui basic segment" style="border : 1px solid rgba(34, 36, 38, 0.15);background:rgba(255,255,255,0.9);max-height:550px;overflow:auto ">
      <div class="ui three column grid">
        <div class="column" style=" padding-bottom:0px">
          {{ember-selectize
            content=customers
            optionValuePath="content.id"
            optionLabelPath="content.companyname"
            selection=stockadjustment.customer
            placeholder="Select a Customer"
          }}
        </div>

        <div class="column" >
          <div  style="margin-top:10px" >


            <select onchange={{action "selectReason" value="target.value"}} class="form-control">
              {{#each stockadjustmentReason as |reason|}}
              <option value={{reason}} selected={{eq stockadjustment.reason reason}}>{{reason}}</option>
              {{/each}}
            </select>


          </div>
        </div>
        <div class=" column"><h3 style="margin-top:10px" class="ui right floated header">#SO{{stockadjustment.id}} </h3></div>
      </div>
      <div class="ui divider" ></div>
      <div class="ui three column grid">

        <div class="column" ></div>
        <div class="right aligned column">
          <div class="ui small form">

          </div>
        </div>
        <div class="right aligned column">

        </div>
      </div>
      <table class="ui celled table">
        <thead  class="center aligned">
          <tr>
            <th>Item Name</th>
            <th style="width:100px">Quantiy</th>
            <th>After</th>
            <th>item Cost</th>
            <th>Total</th>
            <th></th>
          </tr>
        </thead>
        <tbody>

          {{#each stockadjustment.stockadjustmentitems  as |stockadjustmentitem|}}
          <tr class="center aligned">
            <td>
              {{ember-selectize
                content=products
                optionValuePath="content.id"
                optionLabelPath="content.productname"
                selection=stockadjustmentitem.product
                placeholder="Select a Product"
              }}
            </td>
            <td class="left aligned" >
              <div class="ui tiny transparent input">
                {{input type="number" style="width:100px" placeholder="Qty" value=stockadjustmentitem.quantity}}
              </div>
            </td>
            <td>
              <label>{{stockadjustmentitem.aftervalue}}</label>
            </td>
            <td >
              <div class="ui tiny transparent input">
                {{input type="number" readonly="true" style="width:100px" placeholder="Qty" value=stockadjustmentitem.product.retailprice}}
              </div>
            </td>
            <td>{{stockadjustmentitem.computedtotal}}</td>
            <td>
<button class=" ui tiny right floated inverted button red"  {{action 'deleteStockadjustmentItem' stockadjustmentitem}}><i class="trash icon"></i></button>
            </td>

          </tr>
          {{/each}}
        </tbody>
      </table>
      <br>
      <div class="ui column grid centered">
      <button class=" ui tiny right floated inverted button blue"  {{action 'addNewStockadjustmentItem'}}>Add New Item</button>
    </div>
      <div class="ui three column grid">
        <div class="column" ></div>
        <div class="column" ></div>
        <div class="column" >
          <table class="ui very basic table">
            <tbody>
              <tr>
                <td>Total Units</td>
                <td class="right aligned">{{stockadjustment.computedtotalunits}}</td>
              </tr>
              <tr>
                <td>Total Cost</td>
                <td class="right aligned">{{stockadjustment.computedtotalcosts}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="ui basic segment" style="border : 1px solid rgba(34, 36, 38, 0.15);background:rgba(9,9,26,0.5)">
      <!-- .  <button class=" ui tiny right floated  green button" {{createPurchaseOrder}}>Create</button> -->
      .  <button class=" ui tiny right floated inverted blue button"  {{action 'draftStockAdjustment'}}>Save Draft</button>
      <button class=" ui tiny right floated inverted black button"  {{action 'cancelStockAdjustment'}}>Cancel</button>
      <button class=" ui tiny right floated inverted red button"  {{action 'deleteStockAdjustment' stockadjustment }}>Delete</button>
    </div>
  </div>
  <div class="four wide column">

  </div>
</div>



{{outlet}}
