


<div class="ui two column grid">

  <div class="twelve wide column" style="margin-top:20px">
    <div class="ui basic segment" style="border : 1px solid rgba(34, 36, 38, 0.15);background:rgba(255,255,255,0.9);max-height:550px;overflow:auto ">
      <div class="ui two column grid">
        <div class="column" >
      <h2 class="ui  header">Stock Adjustment: #SO{{stockadjustment.id}}</h2>
    </div>
    <div class="right aligned column" >
      {{link-to 'Edit''dashboard.stockcontrol.stockadjustments.stockadjustment.edit'   style="margin-top:20px"  }}
</div>
  </div>
  <div class="ui divider" ></div>

      <div class="ui three column grid">
        <div class="column" >
          <div class="ui  form">
            <div class="inline field" >
              <label style="width:75px">Customer </label>:
              {{stockadjustment.customer.companyname}}
            </div>
          </div>
        </div>

        <div class="column" >
          <div class="ui small form">
            <div class="inline field" >
              <label style="width:75px">Type </label>:
              {{stockadjustment.reason}}
            </div>
          </div>
          <div  style="margin-top:10px" >





          </div>
        </div>
      </div>
      <div class="ui divider" ></div>
      <div class="ui three column grid">

        <div class="column" ></div>
        <div class="right aligned column">
          <div class="ui small form">

          </div>
        </div>
        <div class="right aligned column">

        </div>
      </div>
      <table class="ui celled table">
        <thead  class="center aligned">
          <tr>
            <th>Item Name</th>
            <th style="width:100px">Quantiy</th>
            <th>After</th>
            <th>item Cost</th>
            <th>Total</th>

          </tr>
        </thead>
        <tbody>

          {{#each stockadjustment.stockadjustmentitems  as |stockadjustmentitem|}}
          <tr class="center aligned">
            <td>
              {{stockadjustmentitem.product.productname}}
            </td>
            <td  >
                {{stockadjustmentitem.quantity}}
            </td>
            <td>
              <label>{{stockadjustmentitem.aftervalue}}</label>
            </td>
            <td >
                {{stockadjustmentitem.product.retailprice}}
            </td>
            <td>{{stockadjustmentitem.computedtotal}}</td>


          </tr>
          {{/each}}
        </tbody>
      </table>
      <br>
      <div class="ui column grid centered">
    </div>
      <div class="ui three column grid">
        <div class="column" ></div>
        <div class="column" ></div>
        <div class="column" >
          <table class="ui very basic table">
            <tbody>
              <tr>
                <td>Total Units</td>
                <td class="right aligned">{{stockadjustment.computedtotalunits}}</td>
              </tr>
              <tr>
                <td>Total Cost</td>
                <td class="right aligned">{{stockadjustment.computedtotalcosts}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="ui basic segment" style="border : 1px solid rgba(34, 36, 38, 0.15);background:rgba(9,9,26,0.4)">
      <!-- .  <button class=" ui tiny right floated  green button" {{createPurchaseOrder}}>Create</button> -->
      <div class="ui three column grid">
        <div class="column" ></div>
        <div class="column" ></div>
        <div class="column"  style="padding-top:0;padding-bottom:0" >
          <br>
          <button class=" ui small fluid green button "  >Receive Order</button>
          <br>
        </div>
      </div>


    </div>
  </div>
  <div class="four wide column">

  </div>
</div>



{{outlet}}
