
<div class="ui black segment" >
  <div class="ui left floated header">Tool Details  </div>
  {{link-to 'Go Back' 'dashboard.tracktools.employeetools.employeetool.view'  class="ui green inverted mini right floated button "}}
  {{link-to 'Edit' 'dashboard.tracktools.tools.tool.edit'  class="ui blue inverted mini right floated button "}}

  <div class="ui clearing divider"></div>
  <div class="ui small form">
    <h4 class="ui header"style="margin-top:5px">Tool ID: {{tool.id}}</h4>
    <div class="ui stackable grid">
      <div class="two wide column">
      </div>
      <div class="five wide dividing  column">
        <div class="inline field" style="margin-bottom :20px">
          <label  style="width:110px">Name </label>:
          {{tool.name}}
        </div>
        <div class="inline field" style="margin-bottom :20px">
          <label  style="width:100px">Issued  Date </label>:
          <div class="ui transparent input">
            {{#if tool.issuedate}}
            {{ moment-format tool.issuedate inputFormat}}
            {{/if}}
          </div>

        </div>
        <div class="inline field" style="margin-bottom :20px">
          <label  style="width:100px">Vendor </label>:
          <div class="ui transparent input">
            {{tool.vendor}}
          </div>

        </div>
        <div class="inline field" style="margin-bottom :20px">
          <label style="width:100px">Invoice No. </label>:
          <div class="ui transparent input">
            {{tool.invoiceno}}
          </div>
        </div>




      </div>

      <div class="five wide column">
        <div class="inline field" style="margin-bottom :25px">
          <label  style="width:75px">Employee </label>:
        {{tool.employee.name}}
        </div>
        <div class="inline field" style="margin-bottom :20px">
          <label  style="width:75px">Status </label>:
          {{tool.status}}
        </div>


        <br><br><br><br>
        <div class="ui clearing divider"></div>
      </div>

    </div>
  </div>
</div>
{{outlet}}
