
<h2 class="ui  header">New Stock Adjustment</h2>


<div class="ui two column grid">
  <div class="twelve wide column" style="padding:0">
    <div class="ui basic segment" style="border : 1px solid rgba(34, 36, 38, 0.15);background:rgba(255,255,255,0.9);max-height:550px;overflow:auto ">
      <div class="ui three column grid">
        <div class="column" style=" padding-bottom:0px">
          {{ember-selectize
            content=customers
            optionValuePath="content.id"
            optionLabelPath="content.companyname"
            selection=stockadjustment.customer
            placeholder="Select a Customer"
          }}
        </div>



        <div class="column" >
          <div  style="margin-top:10px" >
            Or <div class="ui blue small submit button"  {{action "openCustomerModal"}}>New Customer</div>
          </div>
        </div>

        <div class="column" >
          <div  style="margin-top:10px" >


            <select onchange={{action "selectReason" value="target.value"}} class="form-control">
              {{#each stockadjustmentReason as |reason|}}
              <option value={{reason}} selected={{eq stockadjustment.reason reason}}>{{reason}}</option>
              {{/each}}
            </select>


          </div>
        </div>

      </div>
      <div class="ui divider" ></div>
      <div class="ui three column grid">

        <div class="column" ></div>
        <div class="right aligned column">
          <div class="ui small form">

          </div>
        </div>
        <div class="right aligned column">

        </div>
      </div>
      <table class="ui celled table">
        <thead  class="center aligned">
          <tr>
            <th>Item Name</th>
            <th style="width:100px">Quantiy</th>
            <th>After</th>
            <th>item Cost</th>
            <th>Total</th>
            <th></th>
          </tr>
        </thead>
        <tbody>

          {{#each stockadjustment.stockadjustmentitems  as |stockadjustmentitem|}}
          <tr class="center aligned">
            <td>
              {{ember-selectize
                content=products
                optionValuePath="content.id"
                optionLabelPath="content.productname"
                selection=stockadjustmentitem.product
                placeholder="Select a Product"
              }}
            </td>
            <td class="left aligned" >
              <div class="ui tiny transparent input">
                {{input type="number" style="width:100px" placeholder="Qty" value=stockadjustmentitem.quantity}}
              </div>
            </td>
            <td>
              <label>{{stockadjustmentitem.aftervalue}}</label>
            </td>
            <td >
              <div class="ui tiny transparent input">
                {{input type="number" readonly="true" style="width:100px" placeholder="Qty" value=stockadjustmentitem.product.retailprice}}
              </div>
            </td>
            <td>{{stockadjustmentitem.computedtotal}}</td>
            <td>
              <button class=" ui tiny right floated inverted button red"  {{action 'deleteStockadjustmentItem' stockadjustmentitem}}><i class="trash icon"></i></button>
            </td>

          </tr>
          {{/each}}
        </tbody>
      </table>
      <br>
      <div class="ui column grid centered">
      <button class=" ui tiny right floated inverted button blue"  {{action 'addNewStockadjustmentItem'}}>Add New Item</button>
    </div>
      <div class="ui three column grid">
        <div class="column" ></div>
        <div class="column" ></div>
        <div class="column" >
          <table class="ui very basic table">
            <tbody>
              <tr>
                <td>Total Units</td>
                <td class="right aligned">{{stockadjustment.computedtotalunits}}</td>
              </tr>
              <tr>
                <td>Total Cost</td>
                <td class="right aligned">{{stockadjustment.computedtotalcosts}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="ui basic segment" style="border : 1px solid rgba(34, 36, 38, 0.15);background:rgba(9,9,26,0.5)">

      .  <button class=" ui tiny right floated inverted blue button"  {{action 'createStockAdjustment'}}>Create</button>
      <button class=" ui tiny right floated inverted black button"  {{action 'cancelStockAdjustment'}}>Cancel</button>
    </div>
  </div>
  <div class="four wide column">

  </div>
</div>












<div class="ui small newcustomer modal">
  <i class="close icon"></i>
  <div class="header">Add New Customer</div>
  <div class="content">
    <p>
      <div class="ui small form">
        <div class="ui stackable grid">
          <div class="five wide dividing column">

            <div class="inline field" style="float:right">
              <label >Comapany Name :</label>
              {{input placeholder="Comapany Name"  name="companyname" type="text" value=companyname }}
            </div>
            <div class="inline field" style="float:right">
              <label>Company Code : </label>
              {{input placeholder="Comapany Code" name="companycode"  type="text"  value=companycode}}
            </div>
            <div class="inline field" style="float:right">
              <label>Charge Code :</label>
              {{input placeholder="Charge Code"   type="text"  value=chargecode}}
            </div>
            <div class="inline field" style="float:right">
              <label>Address 1 : </label>
              {{input placeholder="Address 1"  type="text"  value=address1}}
            </div>
            <div class="inline field" style="float:right">
              <label>Address 2 : </label>
              {{input placeholder="Address 2"  type="text"  value=address2}}
            </div>
            <div class="inline field" style="float:right">
              <label>City :</label>
              {{input placeholder="City"  type="text"  value=city}}
            </div>
            <div class="inline field" style="float:right">
              <label>State :</label>
              {{input placeholder="State"  type="text" value=state }}
            </div>
            <div class="inline field" style="float:right">
              <label>Country :</label>
              {{input placeholder="Country"  type="text" value=country }}
            </div>
          </div>
          <div class="five wide column">

            <div class="inline field" style="float:right">
              <label> Email :</label>
              {{input placeholder="Email"  type="text"  value=email}}
            </div>
            <div class="inline field" style="float:right">
              <label>ZIP :</label>
              {{input placeholder="ZIP"  type="text"  value=zipcode}}
            </div>
            <div class="inline field" style="float:right">
              <label>Phone :</label>
              {{input placeholder="Phone"  type="text" value=phone }}
            </div>
            <br><br><br><br>
            <div class="ui clearing divider"></div>

            <button class="ui primary tiny button {{isCreateCustomerButtonDisabled}} "   {{action "createCustomer"}}>
              <i class="save icon"></i>
              Save
            </button>

          </div>
          <div class="five wide column">

          </div>

        </div>
      </div>

    </p>

  </div>
</div>
