
<h2 class="ui  header">New Stock Adjustment</h2>


<div class="ui two column grid">
  <div class="twelve wide column" style="padding:0">
    <div class="ui basic segment" style="border : 1px solid rgba(34, 36, 38, 0.15);background:rgba(255,255,255,0.9);max-height:550px;overflow:auto ">
      <div class="ui three column grid">
        <div class="column" style=" padding-bottom:0px">
          <div class="ui grid">
            <div class="four wide column ">
              <label style="margin-top:10px"> Order:</label>
            </div>
            <div class="twelve wide column ">
              {{ember-selectize
                content=orders
                optionValuePath="content.id"
                optionLabelPath="content.id"
                selection=order
                placeholder="Select an Order"
              }}
            </div>
          </div>
        </div>
        <div class="column" >
          <div class="ui mini form">
          <div class=" inline field">
            <label>Reason :</label>
            {{input placeholder="Reason"  type="text"   value=reason}}
          </div>
        </div>

        </div>
      </div>
      <div class="ui divider" ></div>
      <div class="ui three column grid">

        <div class="column" ></div>
        <div class="right aligned column">
          <div class="ui small form">
          </div>
        </div>
        <div class="right aligned column">
        </div>
      </div>
      <table class="ui celled table">
        <thead  class="center aligned">
          <tr>
            <th>Item Name</th>
            <th style="width:100px">Quantiy</th>
            <th>item Cost</th>
            <th>Total</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#each order.orderitems  as |orderitem|}}
          <tr class="center aligned">
            <td>
              <label>{{orderitem.product.productname}}</label>
            </td>
            <td class="left aligned" >
              <div class="ui tiny transparent input">
                {{input type="number" style="width:100px" placeholder="Qty" max=orderitem.quantity value=orderitem.quantity}}
              </div>
            </td>
            <td >
              <div class="ui tiny transparent input">
                {{input type="number" readonly="true" style="width:100px" placeholder="Qty" value=orderitem.product.retailprice}}
              </div>
            </td>
            <td>{{orderitem.computedtotal}}</td>
            <td>
                  <button class=" ui tiny right floated inverted button red"  {{action 'deleteStockadjustmentItem' orderitem}}><i class="trash icon"></i></button>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      <br>
      <div class="ui three column grid">
        <div class="column" ></div>
        <div class="column" ></div>
        <div class="column" >
          <table class="ui very basic table">
            <tbody>
              <tr>
                <td>Total Units</td>
                <td class="right aligned">{{computedStockAdjustmentTotalUnits}}</td>
              </tr>
              <tr>
                <td>Total Cost</td>
                <td class="right aligned">{{computedStockAdjustmentTotalCost}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="ui basic segment" style="border : 1px solid rgba(34, 36, 38, 0.15);background:rgba(9,9,26,0.5)">
      .<button class=" ui tiny right floated inverted blue button {{isCreateStockadjustmentButtonDisabled}}"  {{action 'createStockAdjustment'}}>Create</button>
      <button class=" ui tiny right floated inverted black button"  {{action 'cancelStockAdjustment'}}>Cancel</button>
    </div>
  </div>
  <div class="four wide column">

  </div>
</div>
