

<div class="ui top attached tabular menu">
  <a class="item {{allActiveClass}}" {{action "changeActiveClass" 'active'}}  >All</a>
  {{#each producttypes as |producttype|}}
  {{#if (not-eq producttype.id '1')}}
  <a class="item {{producttype.activeclass}}" {{action "changeActiveClass" producttype}}  >{{producttype.typename}}</a>
  {{/if}}
  {{/each}}
</div>

<div class="ui bottom attached tab segment {{allActiveClass}} ">
  {{models-table
    data=computedProducts
    columns=columns
    customMessages=customMessages
    useFilteringByColumns=false
    showColumnsDropdown=false
    useNumericPagination=true
   }}
</div>

{{#each producttypes as |producttype|}}
<div class="ui bottom attached tab segment {{producttype.activeclass}}" >
  {{models-table
    data=computedProducts
    columns=columns
    customMessages=customMessages
    useFilteringByColumns=false
    showColumnsDropdown=false
    useNumericPagination=true
  }}
</div>
{{/each}}


 {{intialize-semanticuitabs}}
{{outlet}}
