
  <div class="ui segment basic  ">
    <i class="search icon"></i>
    <div class="ui item active transparent icon input">

                      {{#if (eq isSearchByName true)}}
                    {{input type="text" class="ui " value=searchproduct  placeholder="Search product..." key-up="searchProduct" }}
                    {{/if}}

                    {{#if (eq isSearchByCode true)}}
                    {{input type="text" class="ui " value=searchproductcode  placeholder="Search product code..." key-up="searchProductCode" }}
                    {{/if}}



&emsp;
                    {{#if (eq isSearchByName true)}}
                    <div class="ui blue small submit button"  {{action "searchByCode"}}>Search By Code</div>
                    {{/if}}

                    {{#if (eq isSearchByCode true)}}
                    <div class="ui blue small submit button"  {{action "searchByName"}}>Search By Name</div>
                    {{/if}}
    </div>

    <div class="ui top attached tabular menu">

  <a class="item {{allActiveClass}}" {{action "changeActiveClass" 'active'}}  >All</a>
  {{#each producttypes as |producttype|}}
  {{#if (not-eq producttype.id '1')}}
  <a class="item {{producttype.activeclass}}" {{action "changeActiveClass" producttype}}  >{{producttype.typename}}</a>
  {{/if}}
  {{/each}}


</div>


    {{!-- BEGIN-SNIPPET simple-table --}}
    <table class="ui celled table">

    {{#light-table table onScrolledToBottom=(action 'onScrolledToBottom') as |t|}}
    <div style="margin-right:15px">
    <thead>
      {{t.head
        onColumnClick=(action 'onColumnClick')
        iconAscending='fa fa-sort-asc'
        iconDescending='fa fa-sort-desc'
        fixed=true
      }}
    </thead>
    </div>
      <div style="height:399px">

      {{#t.body canSelect=false maxheight='300px' overflow='auto' as |body|}}
        {{#if isLoading}}
          {{#body.loader}}
          <div class="spinner">
<div class="rect1"></div>
<div class="rect2"></div>
<div class="rect3"></div>
<div class="rect4"></div>
<div class="rect5"></div>
</div>
          {{/body.loader}}
        {{/if}}
      {{/t.body}}
      </div>
      {{#t.foot}}
      <tfoot>
    <tr>





   </tr></tfoot>
      {{/t.foot}}
    {{/light-table}}
  </table>
    {{!-- END-SNIPPET --}}









{{outlet}}
</div>
