<div class="ui black segment" style="min-height:245px">
 <div class="ui dividing header">Edit Department  </div>
<div class="ui small form">
  <div class="ui stackable grid">
    <div class="five wide dividing column">

      <div class="inline field" style="float:right">
    <label >Tool Name :</label>
    {{input placeholder="Tool Name"  type="text" value=tool.name }}
  </div>
  <div class="inline field" style="float:right">
    <label>Issue Date : </label>
      {{pikaday-input  placeholder="Issuance Date" value=tool.issuedate}}
  </div>
  <div class="inline field" style="float:right">
    <label>Tool Status :</label>
    {{input placeholder="Charge Code"   type="text"  value=tool.status}}
  </div>

    </div>

    </div>

    </div>
    <button class="ui right floated primary tiny button  {{isSaveCustomerButtonDisabled}}"   {{action ""}}>
   <i class="save icon"></i>
  Save
</button>
<button class="ui right floated secondary tiny button"style="width:" {{action "" customer}}>
  <i class="trash outline icon"></i>
  Delete
</button>
              {{link-to 'Cancel' 'dashboard.tracktools.employeetools.employeetool.view'  class="ui black basic tiny right floated button "}}
    </div>

{{outlet}}
