<div class="ui black segment" >
  <div class="ui left floated header">  Tools Issued  </div>


  <table class="ui celled table">
  <thead>
    <tr>
    <th>ID</th>
    <th>Tool</th>
    <th>Issued Date</th>
    <th>Status</th>
    <th></th>
  </tr></thead>
  <tbody>
    {{#each employee.tools as |tool|}}
    <tr>
      <td>{{tool.id}}</td>
      <td>{{tool.name}}</td>
      <td>{{ moment-format tool.issuedate inputFormat}}</td>

      <td>{{tool.status}}</td>
      <td>{{link-to "View"  'dashboard.tracktools.tools.tool.view'  tool }}</td>
    </tr>
    {{/each}}
  </tbody>
</table>

</div>
