
<div class="ui black segment" >
  <div class="ui dividing header">Add New Supplier  </div>
  <div class="ui small form">
    <div class="ui stackable grid">
      <div class="five wide right aligned dividing column">

        <div class="inline field" style="float:right">
          <label >Comapany Name :</label>
          {{input placeholder="Comapany Name"  type="text" value=companyname }}
        </div>
        <div class="inline field  {{validCompanycodeError}}" >
          <label>Company Code : </label>
          {{input placeholder="Comapany Code"  type="text"  value=companycode key-up="validCompanycode"}}
          <label>{{validCompanycodeMessage}}</label>
        </div>
        <div class="inline field {{validChargecodeError}}" style="float:right">
          <label>Charge Code :</label>
          {{input placeholder="Charge Code"   type="text"  value=chargecode key-up="validChargecode"}}
          <label>{{validChargecodeMessage}}</label>
        </div>
        <div class="inline field" style="float:right">
          <label>Address 1 : </label>
          {{input placeholder="Address 1"  type="text"  value=address1}}
        </div>
        <div class="inline field" style="float:right">
          <label>Address 2 : </label>
          {{input placeholder="Address 2"  type="text"  value=address2}}
        </div>
        <div class="inline field" style="float:right">
          <label>City :</label>
          {{input placeholder="City"  type="text"  value=city}}
        </div>
        <div class="inline field" style="float:right">
          <label>State :</label>
          {{input placeholder="State"  type="text" value=state }}
        </div>
        <div class="inline field" style="float:right">
          <label>Country :</label>
          {{input placeholder="Country"  type="text" value=country }}
        </div>
      </div>
      <div class="five wide  right aligned  column">

        <div class="inline field" style="float:right">
          <label> Email :</label>
          {{input placeholder="Email"  type="email"  value=email}}
        </div>
        <div class="inline field" style="float:right">
          <label>ZIP :</label>
          {{input placeholder="ZIP"  type="text"  value=zipcode}}
        </div>
        <div class="inline field" style="float:right">
          <label>Phone :</label>
          {{input placeholder="Phone"  type="text" value=phone }}
        </div>
        <br><br><br><br>
        <div class="ui clearing divider"></div>

        <button class="ui primary tiny button {{isCreateSupplierButtonDisabled}}"   {{action "createSupplier"}}>
          <i class="save icon"></i>
          Save
        </button>

      </div>
      <div class="five wide column">

      </div>

    </div>
  </div>
</div>
